<template>
  <PageContainer>
    <div class="container">
      <div class="down">
        <div class="down-container">
          <div class="down-left">
            <div class="down-left-con">
              <div class="ant-card-head">添加分类</div>
              <div class="ant-card-body">
                <a-form :model="formState">
                  <a-form-item>
                    <a-input v-model:value="formState.label" placeholder="输入分类名称"></a-input>
                  </a-form-item>
                  <a-form-item>
                    <a-input
                      v-model:value="formState.value"
                      placeholder="输入分类值（请输入英文，作为路由使用）"
                    ></a-input>
                  </a-form-item>
                  <a-form-item>
                    <div v-if="modalOpen" class="down-btn">
                      <a-button @click="clickAdd">保存</a-button>
                    </div>
                    <div v-else class="down-btn">
                      <div class="down-btns">
                  
                        <a-button @click="save">更新</a-button>
                        <a-button class="btn-go" @click="modalOpen = true">
                          <span @click="returnbtn">返回添加</span>
                        </a-button>
                      </div>
                      <div>
                        <a-popconfirm
                          title="确认删除这个标签?"
                          cancel-text="取消"
                          ok-text="确认"
                          ok-type="solid"
                          @confirm="delbtn"
                          @cancel="cancel"
                        >
                          <a-button class="btn-del">删除</a-button>
                        </a-popconfirm>
                      </div>
                    </div>
                  </a-form-item>
                </a-form>
              </div>
            </div>
          </div>
          <div class="down-right">
            <div class="down-right-con">
              <div class="ant-card-head">所有分类</div>
              <div class="ant-card-body">
                <span v-for="val in CategoryLabelList" :key="val.id" class="sp" @click="modalOpen = false">
                  <span @click="add(val)">{{ val.label }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <footer>
          <Footer></Footer>
        </footer>
      </div>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { onMounted, ref, UnwrapRef, reactive } from 'vue';
import { storeToRefs } from 'pinia';
import useStore from '@/store';
import { message } from 'ant-design-vue';
const store = useStore();
const { CategoryLabelList } = storeToRefs(store);
const userid = ref('');
const init = () => {
  store.getCategoryLabel(); //分类管理
};
onMounted(() => {
  init();
});
console.log(CategoryLabelList, 'CategoryLabelList');

let modalOpen: any = ref(true);

interface FormState {
  label: string;
  value: string;
}
//
const formState: UnwrapRef<FormState> = reactive({
  label: '',
  value: '',
});

//保存
const clickAdd = async () => {
  await store.addLabel(formState.label, formState.value);
  await init();
  formState.label = '';
  formState.value = '';
  await message.success('添加分类成功');
};
//点击标签 回显数据
const add = (val:any) => {
  formState.label = val.label;
  formState.value = val.value;
  userid.value = val.id;
  modalOpen.value = false;
};
const returnbtn = () => {
  formState.label = '';
  formState.value = '';
};
//更新
const save = async () => {
  await store.getCategorySaveChange(userid.value, formState);
  await init();
  formState.label = '';
  formState.value = '';
  modalOpen.value = true;
  await message.success('更新成功');
};
// //删除
const delbtn = async () => {
  await store.delCategoryLabel(userid.value);
  await init();
  formState.label = '';
  formState.value = '';
  modalOpen.value = true;
  await message.success('删除标签成功');
};
</script>

<style lang="less" scoped>
.container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .down {
    padding: 1px 0px;
    background-color: rgb(243, 243, 244);
  }
  .down-container {
    width: 100%;
    margin-bottom: 16px;
    // background-color: rgb(244, 220, 220);
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    .down-left {
      width: 39%;
      // background: red;
      .down-left-con {
        width: 95%;
        margin-left: 2.5%;
        background-color: #fff;
        .ant-card-head {
          height: 48px;
          line-height: 48px;
          padding: 0 24px;
          font-size: 16px;
          border-bottom: 1px solid #f0f0f0;
        }
        .ant-card-body {
          width: 100%;
          .ant-form {
            // background-color: #0d77be;

            .ant-btn {
              background: rgb(67, 137, 242);
              color: rgb(255, 255, 255);
            }

            .down-btn {
              width: 100%;
              display: flex;
              justify-content: space-between;
              .down-btns {
                display: flex;
              }
              .btn-del {
                box-sizing: border-box;
                background-color: #fff;
                border: 1px solid red;
                color: red;
              }
              .btn-go {
                color: #000;
                background-color: #fff;
                box-sizing: border-box;
                border: 1px dashed #ccc;
                border-left: none;
              }
            }
          }
        }
      }
    }
    .down-right {
      width: 60%;
      // background-color: aquamarine;
      .down-right-con {
        width: 98%;
        margin-left: 1%;
        background: #ffffff;
        .ant-card-head {
          height: 48px;
          line-height: 48px;
          padding: 0 24px;
          font-size: 16px;
          border-bottom: 1px solid #f0f0f0;
        }
        .sp {
          display: inline-block;
          padding: 2px 8px;
          margin: 0 7px 7px 0;
          cursor: pointer;
          color: rgb(156, 152, 152);
          height: 28px;
          border: 1px solid #dbd9d9;
          border-radius: 2px;
        }
        .sp:hover {
          color: #fff;
          background-color: #1ca7e8;
        }
      }
    }
  }
}
</style>
