<template>
  <PageContainer>
    <div class="container">
      <div class="top">
        <a-form name="basic" layout="inline" :model="formState" autocomplete="off" @finish="handleFinish">
          <div class="topSearch">
            <a-form-item label="名称">
              <a-input v-model:value="formState.name" placeholder="请输入页面名称" />
            </a-form-item>
            <a-form-item label="路径">
              <a-input v-model:value="formState.path" placeholder="请输入页面路径" />
            </a-form-item>
            <a-form-item label="状态">
              <a-select v-model:value="formState.status" placeholder="请选择状态">
                <a-select-option value="publish">已发布</a-select-option>
                <a-select-option value="draft">草稿</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div class="downContent">
            <div class="content"></div>
            <a-form-item>
              <a-button type="primary" html-type="submit">搜索</a-button>
              <a-button @click="resetForm">重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>
      <div class="down">
        <div class="add">
          <div class="add-left">
            <div class="btn" v-if="hasSelected">
              <a-button @click="publishAll">发布</a-button>
              <a-button @click="draftAll">下线</a-button>
              <a-popconfirm
                title="您确定删除吗?"
                ok-text="确定"
                cancel-text="取消"
                @confirm="delAll"
                @cancel="cancel"
              >
                <a-button danger>删除</a-button>
              </a-popconfirm>
            </div>
          </div>
          <div class="add-right">
            <a-button type="primary" @click="addPage">
              <template #icon><PlusOutlined /></template>
              新建
            </a-button>
            <a-tooltip color="#000">
              <template #title>刷新</template>
              <span @click="refresh"><ReloadOutlined /></span>
            </a-tooltip>
          </div>
        </div>
        <a-table
          row-key="id"
          :loading="loading"
          :data-source="pageList"
          :row-selection="{ selectedRowKeys: state.selectedRowKeys, onChange: onSelectChange }"
          :pagination="{
            pageSize: pageInfo.pageSize,
            total: total,
            onChange: handlePage,
            showSizeChanger: true,
          }"
        >
          <a-table-column key="name" title="名称" data-index="name" width="100px" />
          <a-table-column key="path" title="路径" data-index="path" width="80px" />
          <a-table-column key="order" title="顺序" data-index="order" width="80px" />
          <a-table-column key="views" title="阅读量" data-index="views" width="100px">
            <template #default="{ text: views }">
              <span>
                <a-badge
                  :count="views"
                  :overflow-count="999"
                  :number-style="{ backgroundColor: '#52c41a' }"
                  :show-zero="true"
                />
              </span>
            </template>
          </a-table-column>
          <a-table-column key="status" title="状态" data-index="status" width="100px">
            <template #default="{ text: status }">
              <span>
                <a-badge
                  :status="status === 'publish' ? 'success' : 'warning'"
                  :text="status === 'publish' ? '已发布' : '草稿'"
                />
              </span>
            </template>
          </a-table-column>
          <a-table-column key="publishAt" title="发布时间" data-index="publishAt" width="150px">
            <template #default="{ text: publishAt }">
              <span>
                {{ dayjs(publishAt).format('YYYY-MM-DD HH:mm:ss') }}
              </span>
            </template>
          </a-table-column>
          <a-table-column key="action" title="操作" width="250px">
            <template #default="{ record }">
              <span style="color: #1890ff; height: 100px">
                <a>编辑</a>
                <a-divider type="vertical" />
                <a @click="publishFn(record)">
                  {{ record.status === 'publish' ? '下线' : '发布' }}
                </a>
                <a-divider type="vertical" />
                <a>查看访问</a>
                <a-divider type="vertical" />
                <a>
                  <a-popconfirm
                    title="您确定删除吗?"
                    ok-text="确定"
                    cancel-text="取消"
                    @confirm="confirm(record.id)"
                    @cancel="cancel"
                  >
                    <a href="#">删除</a>
                  </a-popconfirm>
                </a>
              </span>
            </template>
          </a-table-column>
        </a-table>
      </div>
      <Footer></Footer>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { onMounted, reactive, UnwrapRef, ref, computed } from 'vue';
import { message } from 'ant-design-vue';
import dayjs from 'dayjs';
import { PlusOutlined, ReloadOutlined } from '@ant-design/icons-vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';
const store = useStore();
const { pageList, total } = storeToRefs(store);
const loading = ref(false);
const $router = useRouter();

const init = () => {
  loading.value = true;
  store.getPageList(pageInfo);
  loading.value = false;
};

onMounted(() => {
  init();
});

// 选择
type Key = any['key'];
const state = reactive<{
  selectedRowKeys: Key[];
  loading: boolean;
}>({
  selectedRowKeys: [], // Check here to configure the default column
  loading: false,
});
const hasSelected = computed(() => state.selectedRowKeys.length > 0);
const onSelectChange = (selectedRowKeys: Key[]) => {
  // console.log('selectedRowKeys changed: ', selectedRowKeys);
  state.selectedRowKeys = selectedRowKeys;
};
// 全部发布
const publishAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    pageList.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.status === 'draft') {
          store.pageStatus(val.id, {
            status: 'publish',
          });
          init();
        }
      }
    });
  });
  message.success('操作成功');
};
// 全部下线
const draftAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    pageList.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.status === 'publish') {
          store.pageStatus(val.id, {
            status: 'draft',
          });
          init();
        }
      }
    });
  });
  message.success('操作成功');
};
// 全部删除
const delAll = () => {
  state.selectedRowKeys.forEach(item => {
    pageList.value.forEach((val: any) => {
      if (item === val.id) {
        store.DelPage(val.id);
        init();
      }
    });
  });
  message.success('删除成功');
};

// 分页数据
const pageInfo = reactive({
  page: 1,
  pageSize: 12,
});
interface FormState {
  name: string;
  path: string;
  status: string;
}
// 点击页码
const handlePage = (page: number, pageSize: number) => {
  pageInfo.page = page;
  pageInfo.pageSize = pageSize;
  init();
};

// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  name: '',
  path: '',
  status: '',
});
// 点击搜索
const handleFinish = () => {
  let formSearch = Object.assign(pageInfo, formState);
  store.getPageList(formSearch);
};
// 点击重置
const resetForm = () => {
  formState.name = '';
  formState.path = '';
  formState.status = '';
  init();
};
// 点击刷新
const refresh = () => {
  init();
};
// 新建
const addPage = () => {
  $router.push('/page/editor');
};
//删除
//删除的确定回调函数
const confirm = async (id: string) => {
  await store.DelPage(id);
  message.success('删除成功');
  await init();
};
//删除的取消回调函数
const cancel = async () => {
  await message.error('删除失败');
};

// 点击发布下线
const publishFn = async (val: any) => {
  if (val.status === 'publish') {
    await store.pageStatus(val.id, {
      status: 'draft',
    });
  } else if (val.status === 'draft') {
    await store.pageStatus(val.id, {
      status: 'publish',
    });
  }
  message.success('操作成功');
  await init();
};
</script>

<style lang="less" scoped>
.add {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  .add-left {
    width: 90%;
    .btn button {
      margin: 0 5px;
    }
  }
  .add-right {
    flex: 1;
    button {
      width: 80px;
      height: 35px;
      margin-right: 10px;
    }
    span {
      font-size: 16px;
    }
  }
}
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}
</style>
