/
<template>
  <PageContainer class="page-container" style="background-color: #fff">
    <a-tabs tab-position="left">
      <a-tab-pane v-for="val in tabPanData" :key="val.key" :tab="val.tab">
        <setting-i18n v-if="val.key === 'i18n' && data.settingData" :soure-data="data.settingData" />
        <setting-forms
          v-if="val.content"
          :config-item="val.content"
          :actives="val.active"
          :soure-data="data.settingData"
        />
      </a-tab-pane>
    </a-tabs>
  </PageContainer>
</template>

<script setup lang="ts">
import { getSettingData } from '@/services/setting';
import SettingI18n from './settingI18n.vue';
import SettingForms from './myForm.vue';
import { tabPanData } from './tabPanConfig';
import { Tabs } from 'ant-design-vue';
import { onMounted, reactive } from 'vue';
const data = reactive({});
const init = async () => {
  const { data: settingData } = await getSettingData();
  data.settingData = settingData;
};
onMounted(() => {
  init();
});
</script>
<style lang="less" scoped>
.container {
  width: 100%;

  overflow-y: scroll;
}
.down {
  background-color: #e1e1e1;
  width: 90%;
  margin: 5% auto;
}
.ant-tabs ant-tabs-left {
  width: 80%;
  height: 600px;
  margin: 10px auto;
  background-color: #fff !important;
}
</style>
