<template>
  <a-form layout="vertical" :model="formData.forms">
    <a-form-item v-for="val in configItem" :key="val.key" :label="val.label" :name="val.key">
      <a-input v-model:value="formData.forms[val.key]" :type="val.type" />
    </a-form-item>
    <a-form-item>
      <a-button v-for="val in actives" v-bind="val" @click.prevent="hanldeClick(val)">{{ val.title }}</a-button>
    </a-form-item>
  </a-form>
</template>

<script setup lang="ts">
import { Form, Input, Button } from 'ant-design-vue';
import { defineProps, watchEffect } from 'vue';
const formData = reactive({
  forms: {},
});
const props = defineProps({
  configItem: Array,
  actives: Array,
  soureData: Object,
});

watchEffect(() => {
  if (props.soureData) {
    props.configItem.map(({ key }) => {
      formData.forms[key] = props.soureData[key];
    });
  }
});

const hanldeClick = val => {
  val.click(formData.forms);
};
</script>

<style></style>
