<template>
  <PageContainer>
    <div class="container">
      <div class="uploading">
        <a-upload-dragger
          name="file"
          :multiple="true"
          action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          @change="handleChange"
        >
          <p class="ant-upload-drag-icon">
            <inbox-outlined></inbox-outlined>
          </p>
          <p class="ant-upload-text">点击选择文件或将文件拖拽到此处</p>
          <p class="ant-upload-hint">文件将上传到OSS，如未配置请先配置</p>
        </a-upload-dragger>
        <div>
          <form class="From_input" style="padding: 24px 12px">
            <a-form name="basic" layout="inline" :model="formState" autocomplete="off">
              <div class="topSearch">
                <a-form-item label="文件名称">
                  <a-input v-model:value="formState.originalname" placeholder="请输入文件名称" />
                </a-form-item>
                <a-form-item label="文件类型">
                  <a-input v-model:value="formState.type" placeholder="请输入文件类型" />
                </a-form-item>
              </div>
              <div class="downContent">
                <div class="content"></div>
                <a-form-item>
                  <a-button type="primary" @click="search">搜索</a-button>
                  <a-button @click="resetFields">重置</a-button>
                </a-form-item>
              </div>
            </a-form>
          </form>
          <div style="background: rgb(255, 255, 255); padding: 24px 12px">
            <div class="ant_col_file">
              <ul>
                <li v-for="val in filePage" :key="val.id" @click="showDrawer(val)">
                  <p><img :src="val.url" alt="" class="ANT_CLO_img" /></p>
                  <p>
                    <b>{{ val.originalname }}</b>
                  </p>
                  <p>上传于{{ dayjs(val.createAt).format('YYYY-MM-DD HH:mm:ss') }}</p>
                </li>
              </ul>
              <a-drawer placement="right" :closable="false" :visible="visible" size="large">
                <h2>
                  <span @click="handleClickOpen">X</span>
                  文件信息
                </h2>
                <div class="ant-drawer-body">
                  <div class="_1fwsQ3CMamMQjdntVv1tzj">
                    <img class="A_Drawer_Img" :src="mddeloDD.value.url" />
                  </div>
                  <div class="ant-row_D">
                    <span>文件名称:</span>
                    <span>
                      {{ mddeloDD.value.originalname }}
                    </span>
                  </div>
                  <div class="ant-row_D">
                    <span>存储路径:</span>
                    <span>
                      {{ mddeloDD.value.filename }}
                    </span>
                  </div>
                  <div class="ant-row_D ant-row_D_y">
                    <div class="ant-col_D">
                      <span>文件类型:</span>
                      &emsp;
                      <span>{{ mddeloDD.value.type }}</span>
                    </div>
                    <div class="ant-col_D">
                      <span>文件大小:</span>
                      &emsp;
                      <span>{{ mddeloDD.value.size }}</span>
                    </div>
                  </div>
                  <div class="ant-row_D">
                    <div class="ant-col_D">
                      <span>访问链接:</span>
                      <div>
                        <div class="_3-DwLY0WF1blGZ6L2FDMYa">
                          <div
                            v-clipboard:copy="mddeloDD.value.url"
                            v-clipboard:success="onSuccess"
                            class="ant_col_input"
                          >
                            {{ mddeloDD.value.url }}
                          </div>
                        </div>
                        <button type="button" class="ant-btn ant-btn-link">
                          <span v-clipboard:copy="mddeloDD.value.url" v-clipboard:success="onSuccess">复制</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div
                    style="
                      position: absolute;
                      bottom: 0px;
                      width: 100%;
                      border-top: 1px solid rgb(232, 232, 232);
                      padding: 10px 16px;
                      text-align: right;
                      left: 0px;
                      background: rgb(255, 255, 255);
                      border-radius: 0px 0px 4px 4px;
                    "
                  >
                    <button type="button" class="ant-btn ant-btn-default" style="margin-right: 8px">
                      <span @click="handleClickOpen">关 闭</span>
                    </button>
                    <button
                      type="button"
                      class="ant-btn ant-btn-default ant-btn-dangerous"
                      ant-click-animating-without-extra-node="false"
                    >
                      <span>
                        <a-popconfirm
                          title="确认删除这个文件?"
                          ok-text="确认"
                          cancel-text="取消"
                          ok-type="dashed"
                          @confirm="confirm(mddeloDD.value.id)"
                          @cancel="cancel"
                        >
                          删除
                        </a-popconfirm>
                      </span>
                    </button>
                  </div>
                </div>
              </a-drawer>
            </div>
            <!-- 关于分页 -->
            <a-pagination
              v-model:current="current"
              v-model:page-size="pageSize"
              :page-size-options="pageSizeOptions"
              :total="total"
              :show-total="total => `共${total}条`"
              @showSizeChange="onShowSizeChange"
              @change="onChange"
            >
              <template #buildOptionText="props">
                <span>{{ props.value }}条/页</span>
              </template>
            </a-pagination>
          </div>
        </div>
      </div>
      <Footer></Footer>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { onMounted, ref, UnwrapRef, reactive, watch } from 'vue';
import { storeToRefs } from 'pinia';
import useStore from '@/store';
import { InboxOutlined } from '@ant-design/icons-vue';
import { message } from 'ant-design-vue';
import dayjs from 'dayjs';
import type { UploadChangeParam } from 'ant-design-vue';
const visible = ref<boolean>(false);
const store = useStore();
const { filePage, total } = storeToRefs(store);
//关于 弹框数据
const mddeloDD: any = reactive([]);
//关于分页
const pageSizeOptions = ref<string[]>(['8', '12', '24', '36']);
const current = ref(1);
const pageSizeRef = ref(12);
const pageSize = pageSizeRef;
const onShowSizeChange = (current: number, pageSize: number) => {
  pageSizeRef.value = pageSize;
  pgeeInfo();
};
const onChange = (page: number, pageSize: number) => {
  current.value = page;
  pgeeInfo();
};
//搜索框
interface FormState {
  type: string;
  originalname: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  type: '',
  originalname: '',
});
//搜索的page
const pgeeInfo = () => {
  const type = formState.type ? formState.type : '';
  const originalname = formState.originalname ? formState.originalname : '';
  store.GetFilePage(current.value, pageSize.value, type, originalname);
};
// 点击搜索
const search = () => {
  pgeeInfo();
};
//管束搜索重置
const resetFields = () => {
  formState.type = '';
  formState.originalname = '';
};
const init = () => {
  store.GetFilePage(current.value, pageSize.value); // 文件管理
};
onMounted(() => {
  init();
});
//关于 上传图片
const handleChange = (info: UploadChangeParam) => {
  const status = info.file.status;
};
//关于抽屉
const showDrawer = (val: any) => {
  mddeloDD.value = val;
  visible.value = true;
};
//点击关闭 关闭抽屉
const handleClickOpen = () => {
  visible.value = false;
};
//关于抽屉的点击 删除
const confirm = async (id: string) => {
  visible.value = false;
  await store.GetFileDetil(id);
  await init();
  await message.success('操作成功');
};
//删除里面的取消
const cancel = (e: MouseEvent) => {};
//关于复制
const onSuccess = () => {
  message.success('内容已复制到剪切板');
};
</script>

<style lang="less" scoped>
.uploading {
  width: 100%;

  background-color: rgb(231, 234, 238);
}

.From_input {
  background-color: #fff;
  margin: 20px 0;
}
.ANT_CLO_img {
  width: 100%;
  height: 100px;
}
.ant_col_file {
  width: 100%;
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li:hover {
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    li {
      width: 23%;
      height: 276px;
      border: solid 1px #f0f0f0;
      margin: 1%;
      img {
        width: 100%;
        height: 180px;
      }

      p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        // display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.A_Drawer_Img {
  width: 100%;
  height: 300px;
}
.ant-row_D_y {
  display: flex;
}
.ant-row_D {
  // display: flex;
  // align-items: center;
  width: 100%;
  // height: 100px;

  .ant-col_D {
    display: flex !important;
    padding: 10px 0;
    > span:nth-child(1) {
      margin-right: 10px;
    }
  }
}
.ant_col_input {
  width: 550px;
  border: solid 1px #ccc;
}

.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}

form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
</style>
