<template>
  <div
    id="rc-tabs-2-panel-OSS设置"
    role="tabpanel"
    tabindex="0"
    aria-hidden="false"
    class="ant-tabs-tabpane ant-tabs-tabpane-active"
    aria-labelledby="rc-tabs-2-tab-OSS设置"
    style=""
  >
    <form class="ant-legacy-form ant-legacy-form-vertical">
      <div
        data-show="true"
        class="ant-alert ant-alert-info ant-alert-with-description"
        role="alert"
        style="margin-bottom: 1rem"
      >
        <span role="img" aria-label="info-circle" class="anticon anticon-info-circle ant-alert-icon">
          <svg
            viewBox="64 64 896 896"
            focusable="false"
            data-icon="info-circle"
            width="1em"
            height="1em"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
            ></path>
            <path
              d="M464 336a48 48 0 1096 0 48 48 0 10-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z"
            ></path>
          </svg>
        </span>
        <div class="ant-alert-content">
          <div class="ant-alert-message">说明</div>
          <div class="ant-alert-description">
            请在编辑器中输入您的 oss 配置，并添加 type 字段区分
            {"type":"aliyun","accessKeyId":"","accessKeySecret":"","bucket":"","https":true,"region":""}
          </div>
        </div>
      </div>
      <div
        data-keybinding-context="1"
        data-mode-id="plaintext"
        style="height: 400px; overflow: hidden; border: 1px solid var(--border-color); margin-bottom: 24px"
      >
        <div
          class="monaco-editor no-user-select showUnused vs"
          data-uri="inmemory://model/7"
          style="width: 5px; height: 5px"
        >
          <div data-mprt="3" class="overflow-guard" style="width: 5px; height: 5px">
            <div
              class="margin"
              role="presentation"
              aria-hidden="true"
              style="
                position: absolute;
                transform: translate3d(0px, 0px, 0px);
                contain: strict;
                top: 0px;
                height: 158px;
                width: 64px;
              "
            >
              <div class="glyph-margin" style="left: 0px; width: 0px; height: 158px"></div>
              <div class="margin-view-zones" role="presentation" aria-hidden="true" style="position: absolute"></div>
              <div
                class="margin-view-overlays"
                role="presentation"
                aria-hidden="true"
                style="
                  position: absolute;
                  width: 64px;
                  font-family: Consolas, 'Courier New', monospace;
                  font-weight: normal;
                  font-size: 14px;
                  font-feature-settings: 'liga' 0, 'calt' 0;
                  line-height: 19px;
                  letter-spacing: 0px;
                  height: 158px;
                "
              >
                <div style="position: absolute; top: 0px; width: 100%; height: 19px">
                  <div class="line-numbers" style="left: 0px; width: 38px">1</div>
                </div>
              </div>
            </div>
            <div
              class="monaco-scrollable-element editor-scrollable vs"
              role="presentation"
              data-mprt="5"
              style="position: absolute; overflow: hidden; left: 64px; width: 1042px; height: 5px"
            >
              <div
                class="lines-content monaco-editor-background"
                style="
                  position: absolute;
                  overflow: hidden;
                  width: 1e6px;
                  height: 1e6px;
                  transform: translate3d(0px, 0px, 0px);
                  contain: strict;
                  top: 0px;
                  left: 0px;
                "
              >
                <div
                  class="view-overlays"
                  role="presentation"
                  aria-hidden="true"
                  style="position: absolute; height: 0px; width: 46px"
                >
                  <div style="position: absolute; top: 0px; width: 100%; height: 19px">
                    <div class="current-line" style="width: 46px; height: 19px"></div>
                  </div>
                </div>
                <div role="presentation" aria-hidden="true" class="view-rulers"></div>
                <div class="view-zones" role="presentation" aria-hidden="true" style="position: absolute"></div>
                <div
                  class="view-lines"
                  role="presentation"
                  aria-hidden="true"
                  data-mprt="7"
                  style="
                    position: absolute;
                    font-family: Consolas, 'Courier New', monospace;
                    font-weight: normal;
                    font-size: 14px;
                    font-feature-settings: 'liga' 0, 'calt' 0;
                    line-height: 19px;
                    letter-spacing: 0px;
                    width: 46px;
                    height: 158px;
                  "
                >
                  <div style="top: 0px; height: 19px" class="view-line">
                    <span><span class="mtk1">{</span></span>
                  </div>
                </div>
                <div data-mprt="1" class="contentWidgets" style="position: absolute; top: 0px"></div>
                <div role="presentation" aria-hidden="true" class="cursors-layer cursor-line-style cursor-solid">
                  <div
                    class="cursor"
                    style="
                      height: 19px;
                      top: 0px;
                      left: 0px;
                      font-family: Consolas, 'Courier New', monospace;
                      font-weight: normal;
                      font-size: 14px;
                      font-feature-settings: 'liga' 0, 'calt' 0;
                      line-height: 19px;
                      letter-spacing: 0px;
                      display: block;
                      visibility: hidden;
                      width: 1.6px;
                    "
                  ></div>
                </div>
              </div>
              <div
                role="presentation"
                aria-hidden="true"
                class="visible scrollbar horizontal"
                style="position: absolute; width: 0px; height: 6px; left: 0px; bottom: 0px"
              >
                <div
                  class="slider"
                  style="
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 6px;
                    transform: translate3d(0px, 0px, 0px);
                    contain: strict;
                    width: 20px;
                  "
                ></div>
              </div>
              <canvas
                class="decorationsOverviewRuler"
                aria-hidden="true"
                width="7"
                height="6"
                style="
                  position: absolute;
                  transform: translate3d(0px, 0px, 0px);
                  contain: strict;
                  top: 0px;
                  right: 0px;
                  width: 6px;
                  height: 5px;
                "
              ></canvas>
              <div
                role="presentation"
                aria-hidden="true"
                class="visible scrollbar vertical"
                style="position: absolute; width: 6px; height: 5px; right: 0px; top: 0px"
              >
                <div
                  class="slider"
                  style="
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 6px;
                    transform: translate3d(0px, 0px, 0px);
                    contain: strict;
                    height: 20px;
                  "
                ></div>
              </div>
            </div>
            <div role="presentation" aria-hidden="true" style="width: 1004px"></div>
            <textarea
              data-mprt="6"
              class="inputarea"
              wrap="off"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="off"
              spellcheck="false"
              aria-label="Editor content;Press Alt+F1 for Accessibility Options."
              role="textbox"
              aria-multiline="true"
              aria-haspopup="false"
              aria-autocomplete="both"
              style="
                font-family: Consolas, 'Courier New', monospace;
                font-weight: normal;
                font-size: 14px;
                font-feature-settings: 'liga' 0, 'calt' 0;
                line-height: 19px;
                letter-spacing: 0px;
                top: 0px;
                left: 0px;
                width: 1px;
                height: 1px;
              "
            ></textarea>
            <div
              class="monaco-editor-background textAreaCover line-numbers"
              style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px"
            ></div>
            <div data-mprt="4" class="overlayWidgets" style="width: 5px"></div>
            <div
              data-mprt="8"
              class="minimap slider-mouseover"
              role="presentation"
              aria-hidden="true"
              style="position: absolute; left: -9px; width: 8px; height: 5px"
            >
              <div class="minimap-shadow-visible" style="height: 5px"></div>
              <canvas width="10" height="6" style="position: absolute; left: 0px; width: 8px; height: 4.8px"></canvas>
              <canvas
                class="minimap-decorations-layer"
                width="10"
                height="6"
                style="position: absolute; left: 0px; width: 8px; height: 4.8px"
              ></canvas>
              <div
                class="minimap-slider"
                style="
                  position: absolute;
                  transform: translate3d(0px, 0px, 0px);
                  contain: strict;
                  width: 8px;
                  height: 0px;
                  top: 0px;
                "
              >
                <div
                  class="minimap-slider-horizontal"
                  style="position: absolute; left: 0px; width: 8px; top: 0px; height: 0px"
                ></div>
              </div>
            </div>
          </div>
          <div data-mprt="2" class="overflowingContentWidgets"></div>
          <div class="context-view" aria-hidden="true" style="display: none"></div>
        </div>
      </div>
      <button type="button" class="ant-btn ant-btn-primary"><span>保 存</span></button>
    </form>
  </div>
</template>
<style lang="less" scoped>
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 24px;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}

.ant-tabs-tabpane {
  flex: none;
  width: 100%;
  outline: none;
}
* {
  transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
*,
:after,
:before {
  box-sizing: border-box;
}

div {
  display: block;
}

.ant-tabs {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.5715;
  font-feature-settings: 'tnum';
  display: flex;
  margin: 0px;
  padding: 0px;
  font-variant: tabular-nums;
  list-style: none;
}

._2986HtPLHbrpB8hiBuKILn {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  color: var(--text-primary-color);
}
.ant-btn-primary {
  margin: 10px;
  color: #fff;
  border-color: #0188fb;
  background: #0188fb;
  width: 64px !important;
  height: 32px;
}
</style>
