<template>
  <div id="main" style="width: 100%; height: 400px">
    {{ myChart }}
  </div>
</template>
<script setup>
import { ref, onMounted } from 'vue';
import * as echarts from 'echarts';
//export default {
//  name: 'Test1',

const myChart = ref();
onMounted(() => {
  init();
  // myChart.resize()
});
function init() {
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('main'));
  // 绘制图表
  myChart.setOption({
    title: {
      text: '每周用户访问指标',
    },
    tooltip: {},
    xAxis: {
      data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fir', 'Sat', 'Sun'],
    },
    // legend.type:'plain'
    yAxis: {},
    legend: {
      data: ['评论数', '访问量'],
    },
    series: [
      {
        name: '评论数',
        type: 'bar',
        data: [110, 200, 140, 90, 80, 110, 130],
        color: '#c23531',
      },
      {
        name: '访问量',
        type: 'line',
        data: [350, 290, 370, 120, 100, 120, 190],
        color: '#384e5c',
      },
    ],
  });
}
</script>
