<template>
  <div
    id="rc-tabs-2-panel-SMTP服务"
    role="tabpanel"
    tabindex="0"
    aria-hidden="false"
    class="ant-tabs-tabpane ant-tabs-tabpane-active"
    aria-labelledby="rc-tabs-2-tab-SMTP服务"
    style=""
  >
    <form class="ant-legacy-form ant-legacy-form-vertical">
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="SMTP 地址">SMTP 地址</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input placeholder="请输入SMTP" class="ant-input" type="text" value="smtp.163.com" />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="SMTP 端口（强制使用 SSL 连接）">SMTP 端口（强制使用 SSL 连接）</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input placeholder="请输入SMTP 端口" class="ant-input" type="text" value="256877763" />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="SMTP 用户">SMTP 用户</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input placeholder="请输入SMTP 用户" class="ant-input" type="text" value="@163.com" />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="SMTP 密码">SMTP 密码</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input placeholder="也可能是授权码" class="ant-input" type="text" value="OHOTJNZGBDKXWKNT" />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="发件人">发件人</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input placeholder="请输入正确的邮箱地址" class="ant-input" type="text" value="@qq.com" />
            </span>
          </div>
        </div>
      </div>
      <button type="button" class="ant-btn ant-btn-primary"><span>保 存</span></button>
      <button type="button" class="ant-btn ant-btn-default" style="margin-left: 16px">
        <span>测 试</span>
      </button>
    </form>
  </div>
</template>
<style lang="less" scoped>
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 24px;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}

.ant-tabs-tabpane {
  flex: none;
  width: 100%;
  outline: none;
}
* {
  transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
*,
:after,
:before {
  box-sizing: border-box;
}

div {
  display: block;
}

.ant-tabs {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.5715;
  font-feature-settings: 'tnum';
  display: flex;
  margin: 0px;
  padding: 0px;
  font-variant: tabular-nums;
  list-style: none;
}

._2986HtPLHbrpB8hiBuKILn {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  color: var(--text-primary-color);
}
.ant-btn-primary {
  margin: 10px;
  color: #fff;
  border-color: #0188fb;
  background: #0188fb;
  width: 64px !important;
  height: 32px;
}
</style>
