<template>
  <PageContainer>
    <div class="knopage">
      <div class="down">
        <a-form layout="inline" :model="formState">
          <div class="forminp">
            <a-form-item label="名称">
              <a-input v-model:value="formState.name" placeholder="请输入知识库名称" />
            </a-form-item>
            <a-form-item label="状态">
              <a-select v-model:value="formState.status" style="width: 180px">
                <a-select-option value="已发布">已发布</a-select-option>
                <a-select-option value="草稿">草稿</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div class="formbtn">
            <a-form-item>
              <a-button type="primary" @click="onSubmit">搜索</a-button>
              <a-button @click="resetFields">重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>

      <div class="know">
        <div class="newly">
          <a-button type="primary" @click="showDrawer(false)">
            <plus-outlined />
            <span>新建</span>
          </a-button>
        </div>
        <div class="con">
          <div v-for="val in skList" :key="val.id">
            <div class="picture">
              <img :src="val.cover" alt="" class="conimg" />
            </div>
            <div class="ant-card-body">
              <p>{{ val.title }}</p>
              <p>{{ val.summary }}</p>
            </div>
            <ul class="ant-card-actions">
              <li>
                <edit-filled @click="edit(val)" />
              </li>
              <li v-if="val.status === 'draft'">
                <a-tooltip>
                  <template #title>发布线上</template>
                  <cloud-upload-outlined @click="checkStatus(val.id, val.status)" />
                </a-tooltip>
              </li>
              <li v-else>
                <a-tooltip>
                  <template #title>设为草稿</template>
                  <cloud-download-outlined @click="checkStatus(val.id, val.status)" />
                </a-tooltip>
              </li>
              <li>
                <setting-outlined @click="showDrawer(val)" />
              </li>
              <li>
                <a-popconfirm title="确认删除？" ok-text="确认" cancel-text="取消" @confirm="confirm(val.id)">
                  <delete-outlined />
                </a-popconfirm>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="page">
        <a-pagination
          v-model:current="current"
          v-model:page-size="pageSize"
          :page-size-options="pageSizeOptions"
          :total="total"
          :show-total="total => `共${total}条`"
          show-size-changer="true"
          @showSizeChange="onShowSizeChange"
          @change="onChange"
        >
          <template #buildOptionText="props">
            <span>{{ props.value }}条/页</span>
          </template>
        </a-pagination>
      </div>
      <!---右侧抽屉 --->
      <a-drawer
        v-model:visible="visible"
        class="custom-class"
        :width="600"
        :title="flag ? '更新知识库' : '新建知识库'"
        placement="right"
        @after-visible-change="afterVisibleChange"
      >
        <a-form :model="formList" :label-col="labelCol" :wrapper-col="wrapperCol">
          <a-form-item label="名称">
            <a-input v-model:value="formList.title" />
          </a-form-item>
          <a-form-item label="描述">
            <a-textarea v-model:value="formList.summary" :auto-size="{ minRows: 3, maxRows: 5 }" />
          </a-form-item>
          <a-form-item label="评论" style="margin-top: 50px">
            <a-switch v-model:checked="formList.isCommentable" />
          </a-form-item>
          <a-form-item label="封面">
            <a-upload-dragger
              v-model:fileList="fileList"
              name="file"
              :multiple="true"
              action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              @change="handleChange"
            >
              <p class="ant-upload-drag-icon">
                <inbox-outlined></inbox-outlined>
              </p>
              <p class="ant-upload-text">点击选择文件或将文件拖拽到此处</p>
              <p class="ant-upload-text">文件将上传到OSS,如未配置请先配置</p>
            </a-upload-dragger>
            <a-input v-model:value="formList.cover" style="margin: 10px 0" />
            <a-button>选择文件</a-button>
            <a-button v-if="formList.cover" style="margin-left: 10px" danger @click="formList.cover = ''">
              移除
            </a-button>
          </a-form-item>
          <div class="bom">
            <a-button @click="visible = false">取消</a-button>
            <a-button :disabled="formList.title ? disabled : ''" type="primary" @click="updated">
              {{ flag ? '更新' : '创建' }}
            </a-button>
          </div>
        </a-form>
      </a-drawer>
      <Footer></Footer>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { onMounted, ref, watch, reactive, UnwrapRef } from 'vue';
import userStore from '@/store';
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';
import { message } from 'ant-design-vue';
import {
  EditFilled,
  DeleteOutlined,
  CloudUploadOutlined,
  CloudDownloadOutlined,
  SettingOutlined,
  InboxOutlined,
  PlusOutlined,
} from '@ant-design/icons-vue';
const $router = useRouter();
const store = userStore();
const { skList, total, page1 } = storeToRefs(store);

const pageSizeOptions = ref<string[]>(['8', '12', '24', '36']);
const current = ref(1);
const pageSizeRef = ref(12);
const pageSize = pageSizeRef;
interface FormState {
  name: string;
  status: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  name: '',
  status: '',
});
const onShowSizeChange = (current: number, pageSize: number) => {
  pageSizeRef.value = pageSize;
  pgeeInfo();
};
const onChange = (page: number, pageSize: number) => {
  // console.log(page,pageSize)
  current.value = page;
  pgeeInfo();
};
const pgeeInfo = () => {
  const status = formState.status ? (formState.status === '已发布' ? 'publish' : 'draft') : '';
  const title = formState.name ? formState.name : '';
  store.getskListAction(current.value, pageSize.value, status, title);
};
// 点击搜索
const onSubmit = () => {
  pgeeInfo();
};
// 重置搜索框
const resetFields = () => {
  formState.name = '';
  formState.status = '';
};
// 发布线上/设为草稿
const checkStatus = async (id, status) => {
  // status === 'draft'? 'publish': 'draft'
  await store.getStatus(id, status === 'draft' ? 'publish' : 'draft');
  await pgeeInfo();
};
// 删除
const confirm = async id => {
  await store.delKnowledge(id);
  await pgeeInfo();
};
// 右侧抽屉
const visible = ref<boolean>(false);
// 知识库数据
const formList: any = reactive({
  title: '',
  summary: '',
  isCommentable: '',
  cover: '',
});
const id = ref();
const afterVisibleChange = (bool: boolean) => {};
const flag = ref();
const showDrawer = val => {
  visible.value = true;
  id.value = val.id;
  flag.value = val;
  formList.title = val.title;
  formList.summary = val.summary;
  formList.isCommentable = val.isCommentable;
  formList.cover = val.cover;
};
// 更新/创建
const updated = async () => {
  if (flag.value) {
    await store.updatedKnowledge(id.value, formList);
    message.success('更新成功');
  } else {
    // console.log(formList,'创建')
    await store.addKnowledge(formList);
    message.success('创建成功');
  }
  await pgeeInfo();
  visible.value = false;
};
// 编辑
const edit = async val => {
  // 跳详情
  $router.push(`/knowledge/editor/${val.id}`);
};
// 默认渲染
const init = async () => {
  await store.getskListAction(current.value, pageSize.value);
};
// 监听分页
// watch([() => current.value, pageSize,formState.status,formState.name], ([cur, page,status,name]) => {
//   store.getskListAction(cur, page,status,name);
// });
onMounted(() => {
  init();
});
</script>

<style lang="less" scoped>
.knopage {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.top {
  width: 100%;
  padding: 5px 15px;
  background: #fff;
}
.down {
  padding: 10px 12px;
  height: 130px;
  margin: -10px 0 10px 0;
  background: #fff;
}
.know {
  padding: 24px 12px;
  background: #fff;
  .newly {
    margin-bottom: 20px;
    button {
      width: 80px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.con {
  display: flex;
  flex-wrap: wrap;
  div {
    width: 25%;
    height: 264px;
    padding: 0 8px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    .picture {
      width: 100%;
      height: 120px;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
    .ant-card-body {
      width: 100%;
      flex: 1;
      padding: 20px;
      overflow: hidden;
      p {
        height: 50%;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .ant-card-actions {
      width: 100%;
      height: 48px;
      display: flex;
      li {
        width: 25%;
      }
      li:hover {
        cursor: pointer;
        .icon {
          color: lightblue !important;
        }
      }
    }
  }
}
.page,
.newly {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
}
.ant-form {
  width: 100%;
  > div {
    width: 100%;
    height: 40px;
    display: flex;
  }
}
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.formbtn {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  button {
    width: 64px;
    height: 32px;
    margin-left: 12px;
  }
}
.bom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  justify-content: flex-end;
  > button {
    margin-left: 10px;
  }
}
</style>
