<template>
  <div
    id="rc-tabs-2-panel-系统设置"
    role="tabpanel"
    tabindex="0"
    aria-hidden="false"
    class="ant-tabs-tabpane ant-tabs-tabpane-active"
    aria-labelledby="rc-tabs-2-tab-系统设置"
    style=""
  >
    <form class="ant-legacy-form ant-legacy-form-vertical">
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="系统地址">系统地址</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input placeholder="请输入系统地址" class="ant-input" type="text" value="creationad.shbwyz.com" />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="后台地址">后台地址</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input placeholder="请输入后台地址" class="ant-input" type="text" value="creationadmin.shbwyz.com" />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="系统标题">系统标题</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input
                placeholder="请输入系统标题，将作为 head.title 显示"
                class="ant-input"
                type="text"
                value="小楼又清风"
              />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="Logo">Logo</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <span class="ant-input-group-wrapper">
                <span class="ant-input-wrapper ant-input-group">
                  <input
                    placeholder="请输入 logo 链接或选择文件，也可输入 html"
                    class="ant-input"
                    type="text"
                    value="https://bwcreation.oss-cn-beijing.aliyuncs.com/2022-08-29/%E5%8F%AF%E8%BE%BE%E9%B8%AD.jpeg"
                  />
                  <span class="ant-input-group-addon">
                    <span role="img" aria-label="file-image" tabindex="-1" class="anticon anticon-file-image">
                      <svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="file-image"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M553.1 509.1l-77.8 99.2-41.1-52.4a8 8 0 00-12.6 0l-99.8 127.2a7.98 7.98 0 006.3 12.9H696c6.7 0 10.4-7.7 6.3-12.9l-136.5-174a8.1 8.1 0 00-12.7 0zM360 442a40 40 0 1080 0 40 40 0 10-80 0zm494.6-153.4L639.4 73.4c-6-6-14.1-9.4-22.6-9.4H192c-17.7 0-32 14.3-32 32v832c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V311.3c0-8.5-3.4-16.7-9.4-22.7zM790.2 326H602V137.8L790.2 326zm1.8 562H232V136h302v216a42 42 0 0042 42h216v494z"
                        ></path>
                      </svg>
                    </span>
                  </span>
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="Favicon">Favicon</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <span class="ant-input-group-wrapper">
                <span class="ant-input-wrapper ant-input-group">
                  <input
                    placeholder="请输入 favicon 链接或选择文件"
                    class="ant-input"
                    type="text"
                    value="https://bwcreation.oss-cn-beijing.aliyuncs.com/2022-08-29/%E5%8F%AF%E8%BE%BE%E9%B8%AD.jpeg"
                  />
                  <span class="ant-input-group-addon">
                    <span role="img" aria-label="file-image" tabindex="-1" class="anticon anticon-file-image">
                      <svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="file-image"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M553.1 509.1l-77.8 99.2-41.1-52.4a8 8 0 00-12.6 0l-99.8 127.2a7.98 7.98 0 006.3 12.9H696c6.7 0 10.4-7.7 6.3-12.9l-136.5-174a8.1 8.1 0 00-12.7 0zM360 442a40 40 0 1080 0 40 40 0 10-80 0zm494.6-153.4L639.4 73.4c-6-6-14.1-9.4-22.6-9.4H192c-17.7 0-32 14.3-32 32v832c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V311.3c0-8.5-3.4-16.7-9.4-22.7zM790.2 326H602V137.8L790.2 326zm1.8 562H232V136h302v216a42 42 0 0042 42h216v494z"
                        ></path>
                      </svg>
                    </span>
                  </span>
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="页脚信息">页脚信息</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <textarea placeholder="请输入页脚信息" rows="8" class="ant-input">  基尼泰酶，收手吧 小黑子！！</textarea>
            </span>
          </div>
        </div>
      </div>
      <button type="button" class="ant-btn ant-btn-primary"><span>保 存</span></button>
    </form>
  </div>
</template>

<script lang="ts" setup></script>

<style lang="less" scoped>
//系统设置
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 24px;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}

.ant-tabs-tabpane {
  flex: none;
  width: 100%;
  outline: none;
}
* {
  transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
*,
:after,
:before {
  box-sizing: border-box;
}

div {
  display: block;
}

.ant-tabs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  display: flex;
}

._2986HtPLHbrpB8hiBuKILn {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 960px;
  // height: 100vh;
}
.ant-col-24.ant-legacy-form-item-label,
.ant-col-xl-24.ant-legacy-form-item-label,
.ant-legacy-form-vertical .ant-legacy-form-item-label {
  display: block;
  margin: 0;
  padding: 8px 0;
  line-height: 1.5715;
  white-space: normal;
  text-align: left;
  flex-basis: 100%;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}

.ant-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}
.ant-btn-primary {
  margin: 10px;
  color: #fff;
  border-color: #0188fb;
  background: #0188fb;
  width: 64px !important;
  height: 32px;
}
</style>
