<template>
  <PageContainer>
    <div class="container">
      <div class="postTop">
        <a-upload-dragger name="file" :multiple="true" action="https://www.mocky.io/v2/5cc8019d300000980a055e76">
          <p class="ant-upload-drag-icon">
            <inbox-outlined></inbox-outlined>
          </p>
          <p class="ant-upload-text">点击选择文件或将文件拖拽到此处</p>
          <p class="ant-upload-hint">文件将上传到OSS，如未配置请先配置</p>
        </a-upload-dragger>
      </div>
      <div class="top">
        <a-form layout="inline" :model="formState">
          <div class="topSearch">
            <a-form-item label="文件名称">
              <a-input v-model:value="formState.name" placeholder="请输入文件名称" />
            </a-form-item>
          </div>
          <div class="downContent">
            <div class="content"></div>
            <a-form-item>
              <a-button type="primary">搜索</a-button>
              <a-button>重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>
      <div class="down">
        <div style="background: rgb(255, 255, 255); padding: 24px 12px">
          <div class="_4yxeklcCZVaddgSjYswZG">
            <div></div>
            <div></div>
          </div>
          <div class="ant-spin-nested-loading">
            <div class="ant-empty ant-empty-normal">
              <div class="ant-empty-image">
                <svg
                  class="ant-empty-img-simple"
                  width="64"
                  height="41"
                  viewBox="0 0 64 41"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
                    <ellipse class="ant-empty-img-simple-ellipse" cx="32" cy="33" rx="32" ry="7"></ellipse>
                    <g class="ant-empty-img-simple-g" fill-rule="nonzero">
                      <path
                        d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z"
                      ></path>
                      <path
                        d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z"
                        class="ant-empty-img-simple-path"
                      ></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="ant-empty-description">暂无数据</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { UnwrapRef, reactive } from 'vue';
import { InboxOutlined } from '@ant-design/icons-vue';
import { onMounted, ref } from 'vue';
import { storeToRefs } from 'pinia';
import userStore from '@/store';
const store = userStore();
const { PosterViews } = storeToRefs(store);
interface FormState {
  name: string;
  path: string;
  status: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  name: '',
  path: '',
  status: '',
});
const init = () => {
  store.getPosterViews();
};
onMounted(() => {
  init();
});
</script>

<style lang="less" scoped>
.postTop {
  width: 100%;
  height: 150px;
  background: #fff;
  margin-bottom: 20px;
}
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}
</style>
