/
<template>
  <a-form layout="inline" :model="formState">
    <!-- <a-form-item label="名称">
      <a-input v-model:value="formState.name" placeholder="请输入页面名称" />
    </a-form-item>
    <a-form-item label="路径">
      <a-input v-model:value="formState.url" placeholder="请输入页面路径" />
    </a-form-item>
    <a-form-item label="状态">
      <a-select v-model:value="formState.type" placeholder="请选择状态">
        <a-select-option value="已发布">已发布</a-select-option>
        <a-select-option value="草稿">草稿</a-select-option>
      </a-select>
    </a-form-item> -->
    <slot />
    <a-form-item :wrapper-col="{ span: 4, offset: 14 }">
      <a-button type="primary">搜索</a-button>
      <a-button>重置</a-button>
    </a-form-item>
  </a-form>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';
const props = defineProps({
  formState: {
    type: Object,
    default: {},
  },
});
</script>

<style lang="less" scoped>
.ant-form {
  // width: 100%;
  padding: 20px 0;
  .ant-form-item-control-input {
    width: 140px;
  }
}
.ant-form-item-control-input-content {
  display: flex;
  button {
    margin-right: 15px;
  }
}
</style>
