<template>
  <div class="loginCon">
    <div class="loginLeft">
      <img src="@/static/img/LoginBg.png" alt="" />
    </div>
    <a-form :model="userForm" class="loginRight" @finish="onFinish">
      <div class="users">
        <h2>访客注册</h2>
        <a-form-item label="账号" name="name" :rules="[{ required: true, message: '请输入用户名!' }]">
          <a-input v-model:value="userForm.name" />
        </a-form-item>
        <a-form-item label="密码" name="password" :rules="[{ required: true, message: '请输入密码!' }]">
          <a-input-password v-model:value="userForm.password" />
        </a-form-item>
        <a-form-item label="确认" name="confirm" :rules="[{ required: true, message: '请再次输入密码!' }]">
          <a-input-password v-model:value="userForm.confirm" />
        </a-form-item>
        <a-form-item>
          <a-button html-type="submit" :loading="registerLoading" class="btn">注册</a-button>
          Or
          <a href="/login">去登录</a>
        </a-form-item>
      </div>
    </a-form>
  </div>
</template>

<script setup lang="ts">
import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
import { reactive, ref, createVNode } from 'vue';
import { register } from '@/services/user';
import { useRouter } from 'vue-router';
import { Modal } from 'ant-design-vue';
const registerLoading = ref(false);
const $router = useRouter();
const userForm: any = reactive({
  name: '',
  password: '',
  confirm: '',
});
const onFinish = async val => {
  try {
    registerLoading.value = true;
    const { data } = await register(val);
    Modal.confirm({
      title: '注册成功',
      icon: createVNode(ExclamationCircleOutlined),
      content: '是否跳转至登录',
      okText: '确定',
      okType: 'danger',
      cancelText: '取消',
      onOk() {
        $router.push('/login');
      },
      onCancel() {
        registerLoading.value = true;
      },
    });
  } catch (error) {
    console.error(error);
  } finally {
    registerLoading.value = false;
  }
};
</script>

<style></style>
