<template>
  <a-tabs>
    <a-tab-pane key="1" tab="zh X">
      <div
        class="view-lines"
        role="presentation"
        aria-hidden="true"
        data-mprt="7"
        style="
          overflow-y: scroll;

          width: 495px;
          height: 550px;
        "
      >
        <div style="top: 0px; height: 19px" class="view-line">
          <span><span class="mtk1">{</span></span>
        </div>
        <div style="top: 19px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"zh":&nbsp;"汉语",</span></span>
        </div>
        <div style="top: 38px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"en":&nbsp;"英文",</span></span>
        </div>
        <div style="top: 76px; height: 19px" class="view-line">
          <span>
            <span class="mtk1">&nbsp;&nbsp;"pageMissing":&nbsp;"页面和贝佐斯去太空旅行了~~",</span>
          </span>
        </div>
        <div style="top: 57px; height: 19px" class="view-line">
          <span>
            <span class="mtk1">&nbsp;&nbsp;"serverNotAvaliable":&nbsp;"服务器暂时去给马斯克发射火箭去了🚀",</span>
          </span>
        </div>
        <div style="top: 304px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"publishAt":&nbsp;"发布于",</span></span>
        </div>
        <div style="top: 323px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"readings":&nbsp;"阅读量",</span></span>
        </div>
        <div style="top: 95px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"archives":&nbsp;"归档",</span></span>
        </div>
        <div style="top: 342px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"copyrightInfo":&nbsp;"版权信息",</span></span>
        </div>
        <div style="top: 361px; height: 19px" class="view-line">
          <span>
            <span class="mtk1">&nbsp;&nbsp;"copyrightContent":&nbsp;"非商用-署名-自由转载",</span>
          </span>
        </div>
        <div style="top: 380px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"categoryArticle":&nbsp;"分类文章",</span></span>
        </div>
        <div style="top: 399px; height: 19px" class="view-line">
          <span>
            <span class="mtk1">&nbsp;&nbsp;"gettingArticle":&nbsp;"正在获取文章...",</span>
          </span>
        </div>
        <div style="top: 418px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"comment":&nbsp;"评论",</span></span>
        </div>
        <div style="top: 437px; height: 19px" class="view-line">
          <span>
            <span class="mtk1">&nbsp;&nbsp;"gettingKnowledge":&nbsp;"正在获取知识...",</span>
          </span>
        </div>
        <div style="top: 456px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"knowledgeBooks":&nbsp;"知识小册",</span></span>
        </div>
        <div style="top: 475px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"readingCount":&nbsp;"次阅读",</span></span>
        </div>
        <div style="top: 494px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"startReading":&nbsp;"开始阅读",</span></span>
        </div>
        <div style="top: 513px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"pleaseWait":&nbsp;"敬请期待",</span></span>
        </div>
        <div style="top: 532px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"otherKnowledges":&nbsp;"其他知识笔记",</span></span>
        </div>
        <div style="top: 551px; height: 19px" class="view-line">
          <span>
            <span class="mtk1">&nbsp;&nbsp;"unknownKnowledgeChapter":&nbsp;"未知章节内容",</span>
          </span>
        </div>
        <div style="top: 570px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"recommendToReading":&nbsp;"推荐阅读",</span></span>
        </div>
        <div style="top: 589px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"yu":&nbsp;"与",</span></span>
        </div>
        <div style="top: 247px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"confirm":&nbsp;"确认",</span></span>
        </div>
        <div style="top: 266px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"unknownTitle":&nbsp;"未知标题",</span></span>
        </div>
        <div style="top: 285px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"articleCover":&nbsp;"文章封面",</span></span>
        </div>
        <div style="top: 171px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"passwd":&nbsp;"密码",</span></span>
        </div>
        <div style="top: 190px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"wrongPasswd":&nbsp;"密码错误",</span></span>
        </div>
        <div style="top: 209px; height: 19px" class="view-line">
          <span>
            <span class="mtk1">&nbsp;&nbsp;"protectedArticleMsg":&nbsp;"文章受保护，请输入访问密码",</span>
          </span>
        </div>
        <div style="top: 228px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"backHome":&nbsp;"回首页",</span></span>
        </div>
        <div style="top: 114px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"total":&nbsp;"共计",</span></span>
        </div>
        <div style="top: 133px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"totalSearch":&nbsp;"共搜索到",</span></span>
        </div>
        <div style="top: 152px; height: 19px" class="view-line">
          <span><span class="mtk1">&nbsp;&nbsp;"piece":&nbsp;"篇",</span></span>
        </div>
        <div style="top: 0px; height: 19px" class="view-line">
          <span><span class="mtk1">}</span></span>
        </div>
      </div>
    </a-tab-pane>
    <a-tab-pane key="2" tab="nhao X" force-render>
      <div style="top: 0px; height: 19px" class="view-line">
        <span><span class="mtk1">{</span></span>
      </div>
      <div style="top: 0px; height: 19px" class="view-line">
        <span><span class="mtk1">}</span></span>
      </div>
    </a-tab-pane>
    <a-tab-pane key="3" tab="+"></a-tab-pane>
  </a-tabs>
</template>
