<template>
  <div class="mask">
    <div class="cont">
      <div class="ant-modal-content">
        <button type="button" aria-label="Close" class="ant-modal-close">
          <span class="ant-modal-close-x">
            <span role="img" aria-label="close" class="anticon anticon-close ant-modal-close-icon">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="close"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
                ></path>
              </svg>
            </span>
          </span>
        </button>
        <div class="ant-modal-header">
          <div id="rc_unique_0" class="ant-modal-title">回复评论</div>
        </div>
        <div class="ant-modal-body">
          <textarea
            v-model="inp"
            placeholder="支持 Markdown"
            class="ant-input"
            style="height: 142px; min-height: 142px; max-height: 230px; overflow-y: hidden; resize: none"
          ></textarea>
        </div>
        <div class="ant-modal-footer">
          <button type="button" class="ant-btn ant-btn-default"><span>取 消</span></button>
          <button type="button" class="ant-btn ant-btn-primary" style="width: 60px">
            <span @click="setFlag, addCom(inp)">回 复</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { inject, defineProps, reactive, ref } from 'vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';

const inp = ref('');

const store = useStore();
const props: any = defineProps({
  setFlag: Function,
  newArr: Object,
});
console.log(props, 'props88');

const addCom = (inp: any) => {
  const user = JSON.parse(localStorage.getItem('userInfo'));
  console.log(props.record, '020202');
  console.log(user, '5656');
  //加一个父级评论的信息。不修改传过来的数据，只添加一条
  // props.record.children=props.record
  //  props.record.children.name=user.name
  //  props.record.children.content=inp
  //  props.record.children.email=user.email
  //   console.log(props.record.children,'999');
  // store.addComment(props.record.children);
  props.setFlag();
};
</script>

<style lang="less" scoped>
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  .cont {
    width: 520px;
    height: 298px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    .ant-modal-content {
      position: relative;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-radius: 2px;
      box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
      pointer-events: auto;
    }
    [type='reset'],
    [type='submit'],
    button,
    html [type='button'] {
      -webkit-appearance: button;
    }
    .ant-modal-header {
      padding: 16px 24px;
      color: #000;
      background: #fff;
      border-bottom: 1px solid #f0f0f0;
      border-radius: 2px 2px 0 0;
    }
    .ant-modal-body {
      padding: 24px;
      font-size: 14px;
      line-height: 1.5715;
      word-wrap: break-word;
    }
    .ant-modal-footer {
      padding: 10px 16px;
      text-align: right;
      background: transparent;
      border-top: 1px solid #f0f0f0;
      border-radius: 0 0 2px 2px;
    }
    [type='reset'],
    [type='submit'],
    button,
    html [type='button'] {
      -webkit-appearance: button;
    }
    .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin-bottom: 0;
      margin-left: 8px;
    }
  }
}
</style>
