<template>
  <div
    id="rc-tabs-2-panel-数据统计"
    role="tabpanel"
    tabindex="0"
    aria-hidden="false"
    class="ant-tabs-tabpane ant-tabs-tabpane-active"
    aria-labelledby="rc-tabs-2-tab-数据统计"
    style=""
  >
    <form class="ant-legacy-form ant-legacy-form-vertical">
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="百度统计">百度统计</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input
                placeholder="请输入百度统计 Id"
                class="ant-input"
                type="text"
                value="2f616121a4be61774c494d106870f30e"
              />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="谷歌分析">谷歌分析</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input placeholder="请输入谷歌分析 Id" class="ant-input" type="text" value="G-10SK76KWMS" />
            </span>
          </div>
        </div>
      </div>
      <button type="button" class="ant-btn ant-btn-primary"><span>保 存</span></button>
    </form>
  </div>
</template>
<style lang="less" scoped>
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 24px;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}

.ant-tabs-tabpane {
  flex: none;
  width: 100%;
  outline: none;
}
* {
  transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
*,
:after,
:before {
  box-sizing: border-box;
}

div {
  display: block;
}

.ant-tabs {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.5715;
  font-feature-settings: 'tnum';
  display: flex;
  margin: 0px;
  padding: 0px;
  font-variant: tabular-nums;
  list-style: none;
}

._2986HtPLHbrpB8hiBuKILn {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  color: var(--text-primary-color);
}
.ant-btn-primary {
  margin: 10px;
  color: #fff;
  border-color: #0188fb;
  background: #0188fb;
  width: 64px !important;
  height: 32px;
}
</style>
