<template>
  <div class="edit">
    <aside>
      <header>
        <div class="top">
          <p><close-outlined @click="$router.go(-1)" /></p>
          <p>
            <img :src="editList.cover" alt="" />
            <span>{{ editList.title }}</span>
          </p>
          <p><setting-outlined /></p>
        </div>
        <div class="middle">
          <a-button>保存</a-button>
        </div>
        <div class="bom">
          <p>{{ editList.children?.length }}篇文章</p>
          <p>
            <a-button>
              <plus-outlined />
              新建
            </a-button>
          </p>
        </div>
      </header>
      <footer></footer>
    </aside>
    <main></main>
  </div>
</template>

<script lang="ts" setup>
import { useRouter, useRoute } from 'vue-router';
import { onMounted } from 'vue';
import userStore from '@/store';
import { storeToRefs } from 'pinia';
import { SettingOutlined, CloseOutlined, PlusOutlined } from '@ant-design/icons-vue';

const store = userStore();
const { editList } = storeToRefs(store);
console.log(editList);
const $router = useRouter();
const route = useRoute();
const { id } = route.params;
const init = () => {
  store.editKnowledge(id);
};
onMounted(() => {
  init();
});
</script>

<style lang="less" scoped>
.edit {
  width: 100%;
  height: 100%;
  display: flex;
}
aside {
  width: 240px;
  height: 100%;
  background-color: #e7eae7;
  padding: 12px;
  header {
    width: 216px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    > div {
      width: 100%;
    }
  }
  footer {
    width: 216px;
    height: calc(100% - 150px);
  }
}
main {
  flex: 1;
  background-color: #fff;
}
.top {
  height: 32px;
  display: flex;
  justify-content: space-between;
  > p {
    line-height: 32px;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 5px;
  }
}
.middle {
  height: 32px;
  button {
    width: 100%;
    height: 100%;
  }
}
.bom {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    width: 66px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
