// body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
// body, button, input, select, textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53; }
// h1, h2, h3, h4, h5, h6{ font-size:100%; }
// address, cite, dfn, em, var { font-style:normal; }
// code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
// small{ font-size:12px; }
// ul, ol { list-style:none; }
// a { text-decoration:none; }
// a:hover { text-decoration:underline; }
// sup { vertical-align:text-top; }
// sub{ vertical-align:text-bottom; }
// legend { color:#000; }
// fieldset, img { border:0; }
// button, input, select, textarea { font-size:100%; }
// table { border-collapse:collapse; border-spacing:0; } 
ul,
ol {
    list-style: none;
    padding-left: 0;
}



html,
body,
#app {
    width: 100%;
    height: 100%;
}

#app {
    background-color: rgb(231, 234, 238);
    min-width: 960px;
    overflow: scroll;
}

.ant-layout-content {
    width: 100%;

    .container {
        height: 100%;

        .top {
            width: 100%;
            padding: 5px 15px;
            background: #fff;
        }

        .down {
            padding: 15px;
            background: #fff;
            margin-top: 20px;
        }
    }
}

.loginCon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    box-shadow: 0 2px 8px #f0f1f2;
    border-radius: 4px;
    display: flex !important;
    background: #fff;

    .loginLeft,
    .loginRight {
        flex: 1;
        overflow: hidden;
        box-sizing: border-box;
        padding: 30px;
    }

    .loginLeft {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .loginRight {
        background-color: rgb(247, 251, 252);

        .btn {
            width: 100%;
            color: #fff;
            margin-bottom: 10px;
            background-color: rgb(52, 138, 252);
        }

        .users {
            width: 100%;
        }
    }
}

.conimg {
    width: 100%;
    height: auto;
    border-radius: 2px 2px 0 0;
}

@media (max-width: 575px) {
    .loginCon {
        width: 80vw;
        height: 390px;
    }
}

@media (max-width: 768px) {
    .loginCon {
        width: 90vw;
        height: 330px;
        .loginLeft {
            display: none;
        }
        .loginRight {
            width: 100%;
            height: 100%;
            .users {
                height: 100%;
            }
        }
    }
}

@media (min-width: 769px) {
    .loginRight {
        position: relative;
    }

    .users {
        position: absolute;
        height: 50%;
        // margin-top: 25%;
        width: 85% !important;
        top: 15%;
    }
}

@media (max-width: 1500px) {
    .conimg {
        min-height: 120px;
    }
}

@media (min-width: 1501px) {
    .loginCon {
        height: 621px;
    }

    .users {
        height: 50%;
        margin-top: 10%;
    }
}

a,
a:hover {
    color: inherit;
}
.ant-popover-inner-content {
    color: rgba(0,0,0,.85);
    padding: 12px 16px;
    // width: 300px;
}
.ant-btn-solid {
    background: rgb(67, 137, 242);
    color: #fff;
    
  }

.ant-popover-inner-content {
    color: rgba(0, 0, 0, .85);
    padding: 12px 16px;
}