<template>
  <PageContainer>
    <a-result
      status="404"
      :style="{
        height: '100%',
        background: '#fff',
      }"
      title="Hello呀 你买的页面丢失了呢"
      sub-title="Sorry, you are not authorized to access this page."
    >
      <template #extra>
        <a-button type="primary" @click="$router.push('/')">点击跳转首页</a-button>
      </template>
    </a-result>
  </PageContainer>
</template>

<script lang="ts" setup>
import { message } from 'ant-design-vue';
import { PageContainer as PageContainer } from '@ant-design-vue/pro-layout';
import { useRouter } from 'vue-router';
const $router = useRouter();

const handleClick = () => {
  message.info('BackHome button clicked!');
};
</script>
