/
<template>
  <div class="editor">
    <div class="topEditor">
      <div class="left">
        <a-popconfirm placement="rightBottom" cancel-text="取消">
          <template #title>确认关闭？如果有内容变更，请先保存。</template>
          <template #okButton>
            <button
              style="color: #fff; background: dodgerblue; border: none; outline: none; border-radius: 3px"
              @click="confirm"
            >
              确 认
            </button>
          </template>
          <button class="btn"><CloseOutlined /></button>
        </a-popconfirm>
        <input type="text" placeholder="请输入页面名称" />
      </div>
      <div class="right">
        <a-button type="primary">发布</a-button>
        <a-dropdown>
          <EllipsisOutlined />
          <template #overlay>
            <a-menu>
              <a-menu-item>
                <a href="javascript:;">查看</a>
              </a-menu-item>
              <a-menu-item>
                <a href="javascript:;">设置</a>
              </a-menu-item>
              <a-menu-item>
                <a href="javascript:;">保存草稿</a>
              </a-menu-item>
              <a-menu-item>
                <a href="javascript:;">删除</a>
              </a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </div>
    </div>
    <div class="downEditor"></div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, reactive } from "vue"
import { CloseOutlined, EllipsisOutlined } from '@ant-design/icons-vue';
import useStore from "@/store"
import { storeToRefs } from "pinia"
import { useRouter } from 'vue-router';
const store = useStore()
const { pageList } = storeToRefs(store)
const $router = useRouter();
const confirm = () => {
  $router.go(-1);
};

const pageInfo = reactive({
  page: 1,
  pageSize: 12
})
const init = () => {
  store.getPageList(pageInfo)
}
onMounted(() => {
  init()
})
</script>

<style lang="less" scoped>
.editor {
  width: 100%;
  height: 100%;
  background: #fff;
  .topEditor {
    height: 80px;
    box-shadow: 3px 0 3px #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .left {
      width: 90%;
      padding-left: 20px;
      input {
        width: 380px;
        height: 35px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        margin-left: 10px;
      }
      .btn {
        background: none;
        border: solid 1px #ccc;
      }
      .btn:hover {
        color: dodgerblue;
        border-color: dodgerblue;
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        width: 70px;
      }
      .anticon-ellipsis {
        color: dodgerblue;
      }
    }
  }
}
</style>
