<template>
  <div style="margin-right: 12px">
    <a-space>
      <a-dropdown>
        <template #overlay>
          <a-menu @click="handleClick">
            <a-menu-item key="ownspace">
              <span>个人中心</span>
            </a-menu-item>
            <a-menu-item key="goToUser">
              <span>用户管理</span>
            </a-menu-item>
            <a-menu-item key="settingUser">
              <span>系统设置</span>
            </a-menu-item>
            <a-menu-item key="outLogin">
              <span>退出登录</span>
            </a-menu-item>
          </a-menu>
        </template>
        <div class="currentUser-info">
          <span><a-image :src="currentUser?.avatar"></a-image></span>
          <span>{{ currentUser?.name }}</span>
        </div>
      </a-dropdown>
    </a-space>
  </div>
</template>

<script setup lang="ts">
import { Image } from 'ant-design-vue';
import { UserOutlined, SettingOutlined, LogoutOutlined } from '@ant-design/icons-vue';
import { computed } from 'vue';
import { useRouter } from 'vue-router';
const currentUser = computed(() => {
  return JSON.parse(window.localStorage.getItem('userInfo'));
});
const $router = useRouter();

const methods = {
  outLogin() {
    window.localStorage.removeItem('userInfo');
    $router.replace('/login');
  },
  settingUser() {
    $router.replace('/setting');
  },
  goToUser() {
    $router.replace('/user');
  },
  ownspace() {
    $router.replace('/ownspace');
  },
};

const handleClick = (e: any) => {
  methods[e.key] && methods[e.key]();
};
</script>
<style lang="less">
.currentUser-info {
  span {
    display: inline-block;
    overflow: hidden;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
</style>
