<template>
  <PageContainer>
    <div class="container">
      <div class="top">
        <a-form
          name="basic"
          layout="inline"
          :model="formState"
          autocomplete="off"
          @finish="handleFinish"
        >
          <div class="topSearch">
            <a-form-item label="标题">
              <a-input v-model:value="formState.title" placeholder="请输入页面名称" />
            </a-form-item>
            <a-form-item label="状态">
              <a-select v-model:value="formState.status" placeholder="请选择状态">
                <a-select-option value="publish">已发布</a-select-option>
                <a-select-option value="draft">草稿</a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item label="分类">
              <a-select v-model:value="formState.category" placeholder="请选择状态">
                <template v-for="val in CategoryLabelList" :key="val.id">
                  <a-select-option v-if="val.id" :value="val.id">
                    {{ val.label }}
                  </a-select-option>
                </template>
              </a-select>
            </a-form-item>
          </div>
          <div class="downContent">
            <div class="content"></div>
            <a-form-item>
              <a-button type="primary" html-type="submit">搜索</a-button>
              <a-button @click="resetForm">重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>
      <div class="down">
        <div class="add">
          <div class="add-left">
            <div class="btn" v-if="hasSelected">
              <a-button @click="publishAll">发布</a-button>
              <a-button @click="draftAll">草稿</a-button>
              <a-button @click="recommendAll">首焦推荐</a-button>
              <a-button @click="revokeAll">撤销首焦</a-button>
              <a-popconfirm
                title="您确定删除吗?"
                ok-text="确定"
                cancel-text="取消"
                @cancel="cancel"
                @confirm="delAll"
              >
                <a-button danger>删除</a-button>
              </a-popconfirm>
            </div>
          </div>
          <div class="add-right">
            <a-button type="primary">
              <template #icon><PlusOutlined /></template>
              新建
            </a-button>
            <a-tooltip color="#000">
              <template #title>刷新</template>
              <span><ReloadOutlined /></span>
            </a-tooltip>
          </div>
        </div>
        <a-table
          row-key="id"
          :loading="loading"
          :data-source="articleAll"
          :row-selection="{ selectedRowKeys: state.selectedRowKeys, onChange: onSelectChange }"
          :scroll="{ x: 'calc(700px + 50%)' }"
          :pagination="{
            pageSize: pageInfo.pageSize,
            total: total,
            onChange: handlePage,
            showSizeChanger: true,
          }"
        >
          <a-table-column key="title" title="标题" data-index="title" :fixed="true" width="120px" />
          <a-table-column key="status" title="状态" data-index="status" width="100px">
            <template #default="{ text: status }">
              <span>
                <a-badge
                  :status="status === 'publish' ? 'success' : 'warning'"
                  :text="status === 'publish' ? '已发布' : '草稿'"
                />
              </span>
            </template>
          </a-table-column>
          <a-table-column key="category" title="分类" data-index="category" width="100px">
            <template #default="{ text: category }">
              <div class="spanAll">
                <a-tag v-show="category?.label ? category?.label : null" color="pink">
                  {{ category?.label }}
                </a-tag>
              </div>
            </template>
          </a-table-column>

          <a-table-column key="tags" title="标签" data-index="tags" width="300px">
            <template #default="{ text: tags }">
              <div class="spanAll">
                <span v-for="val in tags" :key="val.id">
                  <a-tag color="orange">{{ val?.label }}</a-tag>
                </span>
              </div>
            </template>
          </a-table-column>
          <a-table-column key="views" title="阅读量" data-index="views" width="100px">
            <template #default="{ text: views }">
              <span>
                <a-badge
                  :count="views"
                  :overflow-count="999"
                  :number-style="{ backgroundColor: '#52c41a' }"
                  :show-zero="true"
                />
              </span>
            </template>
          </a-table-column>
          <a-table-column key="likes" title="喜欢数" data-index="likes" width="100px">
            <template #default="{ text: likes }">
              <span>
                <a-badge
                  :count="likes"
                  :overflow-count="999"
                  :number-style="{ backgroundColor: 'magenta' }"
                  :show-zero="true"
                />
              </span>
            </template>
          </a-table-column>
          <a-table-column key="publishAt" title="发布时间" data-index="publishAt">
            <template #default="{ text: publishAt }">
              <span>
                {{ dayjs(publishAt).format('YYYY-MM-DD HH:mm:ss') }}
              </span>
            </template>
          </a-table-column>
          <a-table-column key="action" title="操作" fixed="right" width="300px">
            <template #default="{ record }">
              <span style="color: #1890ff; height: 100px">
                <a>编辑</a>
                <a-divider type="vertical" />
                <a @click="recommendedFn(record)">
                  {{ record.isRecommended ? '撤销首焦' : '首焦推荐' }}
                </a>
                <a-divider type="vertical" />
                <a>查看访问</a>
                <a-divider type="vertical" />
                <a>
                  <a-popconfirm
                    title="您确定删除吗?"
                    ok-text="确定"
                    cancel-text="取消"
                    @confirm="confirm(record.id)"
                    @cancel="cancel"
                  >
                    <a href="#">删除</a>
                  </a-popconfirm>
                </a>
              </span>
            </template>
          </a-table-column>
        </a-table>
      </div>
      <Footer></Footer>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import dayjs from 'dayjs';
import { onMounted, reactive, ref, UnwrapRef, computed } from 'vue';
import { PlusOutlined, ReloadOutlined } from '@ant-design/icons-vue';
import { message } from 'ant-design-vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';
import { log } from 'console';
const store = useStore();
const { articleAll, total, CategoryLabelList } = storeToRefs(store);
interface FormState {
  title: string;
  status: string;
  category: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  title: '',
  status: '',
  category: '',
});
const init = () => {
  loading.value = true;
  store.getArticleAll(pageInfo);
  loading.value = false;
  store.getCategoryLabel();
};
onMounted(() => {
  init();
});

const pageInfo = reactive({
  page: 1,
  pageSize: 12,
});
const loading = ref(false);
// 点击页码
const handlePage = (page: number, pageSize: number) => {
  pageInfo.page = page;
  pageInfo.pageSize = pageSize;
  init();
};
// 点击搜索
const handleFinish = () => {
  let formSearch = Object.assign(pageInfo, formState);
  store.getArticleAll(formSearch);
};
// 点击重置
const resetForm = () => {
  formState.title = '';
  formState.category = '';
  formState.status = '';
  init();
};

// 选择
type Key = any['key'];
const state = reactive<{
  selectedRowKeys: Key[];
  loading: boolean;
}>({
  selectedRowKeys: [], // Check here to configure the default column
  loading: false,
});
const hasSelected = computed(() => state.selectedRowKeys.length > 0);
const onSelectChange = (selectedRowKeys: Key[]) => {
  // console.log('selectedRowKeys changed: ', selectedRowKeys);
  state.selectedRowKeys = selectedRowKeys;
};
// 全部发布
const publishAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    articleAll.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.status === 'draft') {
          store.getArticleStatus(val.id, {
            status: 'publish',
          });
          init();
        }
      }
    });
  });
  message.success('操作成功');
};
// 全部设为草稿
const draftAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    articleAll.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.status === 'publish') {
          store.getArticleStatus(val.id, {
            status: 'draft',
          });
          init();
        }
      }
    });
  });
  message.success('操作成功');
};
// 全部删除
const delAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    articleAll.value.forEach((val: any) => {
      if (item === val.id) {
        store.articleDel(val.id);
        init();
      }
    });
  });
  message.success('删除成功');
};
// 全部首焦推荐
const recommendAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    articleAll.value.forEach((val: any) => {
      if (item === val.id) {
        if (!val.isRecommended) {
          store.articleRecommend(val.id, {
            isRecommended: true,
          });
          store.getArticleAll(pageInfo);
        }
      }
    });
  });
  message.success('操作成功');
};
// 全部撤销首焦
const revokeAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    articleAll.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.isRecommended) {
          store.articleRecommend(val.id, {
            isRecommended: false,
          });
          store.getArticleAll(pageInfo);
        }
      }
    });
  });
  message.success('操作成功');
};

// 首焦推荐
const recommendedFn = async (val: any) => {
  if (val.isRecommended) {
    await store.articleRecommend(val.id, {
      isRecommended: false,
    });
  } else {
    await store.articleRecommend(val.id, {
      isRecommended: true,
    });
  }
  message.success('操作成功');
  await store.getArticleAll(pageInfo);
};
//删除
//删除的确定回调函数
const confirm = async (id: string) => {
  await store.articleDel(id);
  message.success('删除成功');
  await init();
};
//删除的取消回调函数
const cancel = async () => {
  await message.error('删除失败');
};
</script>

<style lang="less" scoped>
.spanAll {
  display: flex;
  justify-content: space-between;
}
.add {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  .add-left {
    width: 90%;
    .btn button {
      margin: 0 5px;
    }
  }
  .add-right {
    flex: 1;
    button {
      width: 80px;
      height: 35px;
      margin-right: 10px;
    }
    span {
      font-size: 16px;
    }
  }
}
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}
</style>
