<template>
  <PageContainer>
    <div class="container">
      <div class="top">
        <a-form name="basic" layout="inline" :model="formState" autocomplete="off" @finish="handleFinish">
          <div class="topSearch">
            <a-form-item label="账户">
              <a-input v-model:value="formState.name" placeholder="请输入用户账户" />
            </a-form-item>
            <a-form-item label="邮箱">
              <a-input v-model:value="formState.email" placeholder="请输入账户邮箱" />
            </a-form-item>
            <a-form-item label="角色">
              <a-select v-model:value="formState.role" placeholder="请选择状态">
                <a-select-option value="admin">管理员</a-select-option>
                <a-select-option value="visitor">访客</a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item label="状态">
              <a-select v-model:value="formState.status" placeholder="请选择状态">
                <a-select-option value="locked">锁定</a-select-option>
                <a-select-option value="active">可用</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div class="downContent">
            <div class="content"></div>
            <a-form-item>
              <a-button type="primary" html-type="submit">搜索</a-button>
              <a-button @click="resetForm">重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>
      <div class="down">
        <div class="add">
          <div class="add-left">
            <div class="btn" v-if="hasSelected">
              <a-button @click="lockedAll">启用</a-button>
              <a-button @click="activeAll">禁用</a-button>
              <a-button @click="adminAll">授权</a-button>
              <a-button @click="visitorAll">解除授权</a-button>
            </div>
          </div>
          <div class="add-right">
            <a-tooltip color="#000">
              <template #title>刷新</template>
              <span @click="refresh"><ReloadOutlined /></span>
            </a-tooltip>
          </div>
        </div>
        <a-table
          row-key="id"
          :loading="loading"
          :data-source="userList"
          :row-selection="{ selectedRowKeys: state.selectedRowKeys, onChange: onSelectChange }"
          :pagination="{
            pageSize: pageInfo.pageSize,
            total: total,
            onChange: handlePage,
            showSizeChanger: true,
          }"
        >
          <a-table-column key="name" title="账户" data-index="name" />
          <a-table-column key="email" title="邮箱" data-index="email" />
          <a-table-column key="role" title="角色" data-index="role">
            <template #default="{ text: role }">
              <span>
                <a>{{ role === 'visitor' ? '访客' : '管理员' }}</a>
              </span>
            </template>
          </a-table-column>
          <a-table-column key="status" title="状态" data-index="status">
            <template #default="{ text: status }">
              <span>
                <a-badge
                  :status="status === 'active' ? 'success' : 'warning'"
                  :text="status === 'active' ? '可用' : '已锁定'"
                />
              </span>
            </template>
          </a-table-column>
          <a-table-column key="updateAt" title="注册日期" data-index="updateAt">
            <template #default="{ text: updateAt }">
              <span>
                {{ dayjs(updateAt).format('YYYY-MM-DD HH:mm:ss') }}
              </span>
            </template>
          </a-table-column>
          <a-table-column key="action" title="操作">
            <template #default="{ record }">
              <span style="color: #1890ff">
                <a @click="DisabledS(record)">{{ record.status === 'locked' ? '启用' : '禁用' }}</a>
                <a-divider type="vertical" />
                <a @click="adminFn(record)">
                  {{ record.role === 'visitor' ? '授权' : '解除授权' }}
                </a>
              </span>
            </template>
          </a-table-column>
        </a-table>
      </div>
      <Footer></Footer>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { ReloadOutlined } from '@ant-design/icons-vue';
import { message } from 'ant-design-vue';
import dayjs from 'dayjs';
import { onMounted, reactive, UnwrapRef, ref, computed } from 'vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';
const store = useStore();
const { userList, total } = storeToRefs(store);
const loading = ref(false);
interface FormState {
  name: string;
  email: string;
  role: string;
  status: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  name: '',
  email: '',
  role: '',
  status: '',
});
// 分页数据
const pageInfo = reactive({
  page: 1,
  pageSize: 12,
});
// 点击页码
const handlePage = (page: number, pageSize: number) => {
  pageInfo.page = page;
  pageInfo.pageSize = pageSize;
  init();
};
// 点击搜索
const handleFinish = () => {
  let formSearch = Object.assign(pageInfo, formState);
  store.getUserList(formSearch);
};
// 点击重置
const resetForm = () => {
  formState.name = '';
  formState.email = '';
  formState.role = '';
  formState.status = '';
};
// 点击刷新
const refresh = () => {
  init();
};
const init = () => {
  loading.value = true;
  store.getUserList(pageInfo);
  loading.value = false;
};
onMounted(() => {
  init();
});

// 选择
type Key = any['key'];
const state = reactive<{
  selectedRowKeys: Key[];
  loading: boolean;
}>({
  selectedRowKeys: [], // Check here to configure the default column
  loading: false,
});
const hasSelected = computed(() => state.selectedRowKeys.length > 0);
const onSelectChange = (selectedRowKeys: Key[]) => {
  console.log('selectedRowKeys changed: ', selectedRowKeys);
  state.selectedRowKeys = selectedRowKeys;
};
// 全部启用
const lockedAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    userList.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.status === 'locked') {
          store.getUserLisDisabled({
            ...val,
            status: 'active',
          });
          init();
        }
      }
    });
  });
  message.success('操作成功');
};
// 全部禁用
const activeAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    userList.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.status === 'active') {
          store.getUserLisDisabled({
            ...val,
            status: 'locked',
          });
          init();
        }
      }
    });
  });
  message.success('操作成功');
};
// 全部授权
const adminAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    userList.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.role === 'visitor') {
          store.getUserLisDisabled({
            ...val,
            role: 'admin',
          });
          init();
        }
      }
    });
  });
  message.success('操作成功');
};
// 全部解除授权
const visitorAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    userList.value.forEach((val: any) => {
      if (item === val.id) {
        if (val.role === 'admin') {
          store.getUserLisDisabled({
            ...val,
            role: 'visitor',
          });
          init();
        }
      }
    });
  });
  message.success('操作成功');
};

// 启用禁用
const DisabledS = async (val: any) => {
  if (val.status === 'locked') {
    await store.getUserLisDisabled({
      ...val,
      status: 'active',
    });
  } else if (val.status === 'active') {
    await store.getUserLisDisabled({
      ...val,
      status: 'locked',
    });
  }
  message.success('操作成功');
  await init();
};
// 授权未授权
const adminFn = async (val: any) => {
  if (val.role === 'admin') {
    await store.getUserLisDisabled({
      ...val,
      role: 'visitor',
    });
  } else if (val.role === 'visitor') {
    await store.getUserLisDisabled({
      ...val,
      role: 'admin',
    });
  }
  message.success('操作成功');
  await init();
};
</script>

<style lang="less" scoped>
.add {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  .add-left {
    width: 98%;
    .btn button {
      margin: 0 5px;
    }
  }
  .add-right {
    flex: 1;
    span {
      font-size: 16px;
    }
  }
}
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
  .ant-row {
    margin-bottom: 15px;
  }
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}
</style>
