<template>
  <PageContainer>
    <div class="container">
      <div class="top">
        <a-form layout="inline" :model="formState">
          <div class="topSearch">
            <a-form-item label="称呼">
              <a-input v-model:value="formState.name" placeholder="请输入称呼" />
            </a-form-item>
            <a-form-item label="Email">
              <a-input v-model:value="formState.email" placeholder="请输入联系方式" />
            </a-form-item>
            <a-form-item label="状态">
              <a-select v-model:value="formState.pass" placeholder="请选择状态">
                <a-select-option value="1">已通过</a-select-option>
                <a-select-option value="0">未通过</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div class="downContent">
            <div class="content"></div>
            <a-form-item>
              <a-button type="primary" @click="handleClickSearch(formState)">搜索</a-button>
              <a-button @click="handleFlaf(formState)">重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>

      <div class="down">
        <div class="add">
          <div class="add-left">
            <div class="btn" v-if="hasSelected">
         
                <a-popconfirm
                title="您确定全部通过吗?"
                ok-text="确定"
                cancel-text="取消"
                @confirm="allPass()"
                @cancel="cancel"
              >
                <a-button >全部通过</a-button>
              </a-popconfirm>
              <a-popconfirm
              title="您确定全部拒绝吗?"
              ok-text="确定"
              cancel-text="取消"
              @confirm="allPassNo()"
              @cancel="cancel"
            >
              <a-button >全部拒绝</a-button>
            </a-popconfirm>
            <a-popconfirm
                title="您确定全部删除吗?"
                ok-text="确定"
                cancel-text="取消"
                @confirm="allDel()"
                @cancel="cancel"
              >
                <a-button >全部删除</a-button>
              </a-popconfirm>
            </div>
          </div>
          <div class="add-right">
            <span><ReloadOutlined /></span>
          </div>
        </div>

        <a-table
          :pagination="{
            pageSize: pageInfo.pageSize,
            total: total,
            onChange: handlePage,
          }"
          row-key="id"
          :data-source="commentList"
          :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
          :scroll="{ x: 'calc(700px + 50%)' }"
        >
          <a-table-column key="pass" title="状态" data-index="pass">
            <template #default="{ text: pass }">
              <span>
                <a-badge :status="pass ? 'success' : 'warning'" :text="pass ? '通过' : '未通过'" />
              </span>
            </template>
          </a-table-column>

          <a-table-column key="name" title="称呼" data-index="name" />
          <a-table-column key="email" title="联系方式" data-index="email" />
          <a-table-column key="content" title="原始内容" data-index="content" width="130px">
            <template #default="{ text: content }">
              <a-popover title="评论详情-原始内容">
                <template #content>
                  <p>{{ content }}</p>
                </template>
                <a-button style="color: #1890ff; border: none">查看内容</a-button>
              </a-popover>
            </template>
          </a-table-column>
          <a-table-column key="html" title="HTML内容" data-index="html" width="100px">
            <template #default="{ text: html }">
              <a-popover title="评论详情-HTML 内容">
                <template #content>
                  <p v-html="html"></p>
                </template>
                <a-button style="color: #1890ff; border: none">查看内容</a-button>
              </a-popover>
            </template>
          </a-table-column>
          <a-table-column key="url" title="管理文章" data-index="url" width="120px">
            <template #default="{ text: url }">
              <a-popover title="页面预览">
                <template #content>
                  <a :href="url">404</a>
                </template>
                <a-button style="color: #1890ff; border: none">查看内容</a-button>
              </a-popover>
            </template>
          </a-table-column>

          <a-table-column key="createAt" title="访问时间" data-index="createAt">
            <template #default="{ text: createAt }">
              <span>
                {{ dayjs(createAt).format('YYYY-MM-DD HH:mm:ss') }}
              </span>
            </template>
          </a-table-column>
          <a-table-column
            key="replyUserName"
            title="父级评论"
            data-index="replyUserName"
            width="100px"
          ></a-table-column>
          <a-table-column key="updateAt" title="访问时间" data-index="updateAt">
            <template #default="{ text: createAt }">
              <span>
                {{ dayjs(createAt).format('YYYY-MM-DD HH:mm:ss') }}
              </span>
            </template>
          </a-table-column>
          <a-table-column key="action" title="操作" width="200px" fixed="right">
            <template #default="{ record }">
              <span style="color: #1890ff; height: 110px">
                <a @click="addPass(record)">通过</a>
                <a-divider type="vertical" />
                <a @click="refusePass(record)">拒绝</a>
                <a-divider type="vertical" />
                <a @click="reply(record)">回复</a>

                <a-divider type="vertical" />
                <a>
                  <a-popconfirm
                    title="您确定删除吗?"
                    ok-text="确定"
                    cancel-text="取消"
                    @confirm="confirm(record.id)"
                    @cancel="cancel"
                  >
                    <a href="#">删除</a>
                  </a-popconfirm>
                </a>
              </span>
            </template>
          </a-table-column>
        </a-table>
      </div>
      <!-- <commentModal ></commentModal> -->
      <CommentModal v-show="flag" :set-flag="setFlag" :new-arr="newArr"></CommentModal>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { message, TableColumnsType, Button } from 'ant-design-vue';
import { defineComponent, ref, onMounted, reactive, UnwrapRef, provide, computed } from 'vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';

import dayjs from 'dayjs';
import CommentModal from '@/components/modal/CommentModal.vue';
const store = useStore();
const checked = ref(false);
const flag = ref(false);

// provide('setflag', () => setFlag());
interface FormState {
  name: string;
  email: string;
  pass: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  name: '',
  email: '',
  pass: '',
});
const pageInfo = reactive({
  page: 1,
  pageSize: 12,
});

const { commentList, total } = storeToRefs(store);
const init = () => {
  store.getComment(pageInfo);
};

//弹窗
const setFlag = () => {
  flag.value = !flag.value;
};

//分页
const handlePage = (page: number, pageSize: number) => {
  pageInfo.page = page;
  pageInfo.pageSize = pageSize;
  init();
};

//拒绝
const refusePass = (record: any) => {
  store.RefusePass(record.id, (record.pass = false));
  message.error('评论已拒绝');
};
//通过
const addPass = (record: any) => {
  store.AddPass(record.id, (record.pass = true));
  message.success('评论已通过');
};
//搜索
const handleClickSearch = (params: any) => {
  params.page = pageInfo.page;
  params.pageSize = pageInfo.pageSize;
  store.SearchComment(params);
};
//重置
const handleFlaf = (val: any) => {
  val.name = '';
  val.pass = '';
  val.email = '';
};

//回复
const reply = (record: any) => {
  // newArr=record
  var newArr = record;
  console.log(newArr, 'record');
  flag.value = !flag.value;
  // provide('val',record)
  //  console.log(111);
};
//删除
//删除的确定回调函数
const confirm = async (id: string) => {
  await store.DelComment(id);
  message.success('删除成功');
  await store.getComment(pageInfo);
};
//删除的取消回调函数
const cancel = async () => {
  await message.error('删除失败');
};
//多选
const state = reactive<{
  selectedRowKeys: any[];
  loading: boolean;
}>({
  selectedRowKeys: [], // Check here to configure the default column
  loading: false,
});
var str: any[] = [];
const hasSelected = computed(() => state.selectedRowKeys.length > 0);
const onSelectChange = (selectedRowKeys: any[]) => {
  state.selectedRowKeys = selectedRowKeys;
};
//全部通过

const allPass = () => {
  commentList.value.forEach((item: any) => {
    state.selectedRowKeys.forEach(v => {
      if (item.id === v) {
        store.AddPass(item.id, (item.pass = true));
      }
    });
  });
  message.success('全部通过成功');
};
//全部拒绝
const allPassNo = () => {
  commentList.value.forEach((item: any) => {
    state.selectedRowKeys.forEach(v => {
      if (item.id === v) {
        store.RefusePass(item.id, (item.pass = false));
      }
    });
  });
  message.error('全部拒绝成功');
};
//全部删除
const allDel = async () => {
 await commentList.value.forEach((item: any) => {
    state.selectedRowKeys.forEach(v => {
      if (item.id === v) {
        store.DelComment(item.id);
        init();
      }
    });
  });
  message.error('全部删除成功');
  //  init();
};
onMounted(() => {
  init();
});
</script>

<style lang="less" scoped>
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
  .ant-row {
    margin-bottom: 15px;
  }
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}
.add {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  .add-left {
    width: 90%;
    .btn button {
      margin: 0 5px;
    }
  }
  .add-right {
    flex: 1;
    button {
      width: 80px;
      height: 35px;
      margin-right: 10px;
    }
    span {
      font-size: 16px;
    }
  }
}
</style>
