<template>
  <div class="ownspace">
    <div style="width: 100%; height: 36px; background-color: #fff"></div>
    <div class="middle">
      <div class="left">
        <div class="info">
          <ul>
            <li>系统概览</li>
            <li>累计发表了{{ NewArticlelenght }}篇文章</li>
            <li>累计创建了{{ geteLenght }}个分类</li>
            <li>累计创建了个{{ tagLenght }}标签</li>
            <li>累计上传了{{ total }}个文件</li>
            <li>累计获得了{{ commentLenght }}个评论</li>
          </ul>
        </div>
      </div>
      <div class="right">
        <p>个人资料</p>
        <div>
          <a-tabs v-model:activeKey="activeKey">
            <a-tab-pane key="1" tab="基本设置">
              <div class="port">
                <img :src="currentUser.avatar" />
              </div>
              <a-form :label-col="{ span: 5 }" :model="currentUser" @finish="onBasic">
                <a-form-item label="用户名:" name="name">
                  <a-input v-model:value="currentUser.name" placeholder="请输入用户名" />
                </a-form-item>
                <a-form-item label="邮箱:" name="email">
                  <a-input v-model:value="currentUser.email" placeholder="请输入邮箱" />
                </a-form-item>
                <a-form-item>
                  <a-button type="primary" html-type="submit">保存</a-button>
                </a-form-item>
              </a-form>
            </a-tab-pane>
            <a-tab-pane key="2" tab="更新密码" force-render>
              <a-form :label-col="{ span: 5 }" :model="pwdList" @finish="onFinish">
                <a-form-item label="原密码:" name="oldPwd">
                  <a-input-password v-model:value="pwdList.oldPwd" placeholder="请输入原密码" />
                </a-form-item>
                <a-form-item label="新密码:" name="newPwd">
                  <a-input-password v-model:value="pwdList.newPwd" placeholder="请输入新密码" />
                </a-form-item>
                <a-form-item label="确认密码:" name="confirm">
                  <a-input-password v-model:value="pwdList.confirm" placeholder="请确认密码" />
                </a-form-item>
                <a-form-item>
                  <a-button type="primary" html-type="submit">保存</a-button>
                </a-form-item>
              </a-form>
            </a-tab-pane>
          </a-tabs>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>
<script setup lang="ts">
import { ref, reactive, onMounted } from 'vue';
import { computed } from 'vue';
import userStore from '@/store';
import { storeToRefs } from 'pinia';

const store = userStore();
const { NewArticlelenght, total, commentLenght, tagLenght, geteLenght } = storeToRefs(store);

const currentUser = computed(() => {
  return JSON.parse(window.localStorage.getItem('userInfo'));
});

const users = reactive({
  currentUser,
});
const pwdList = reactive({
  oldPwd: '',
  newPwd: '',
  confirm: '',
});
// 基本设置
// const onBasic = async () => {
//     await store.setBasic(users)
// };
const init = () => {
  store.getNewArticle();
  store.GetFilePage();
  store.getComment();
  store.getTagLabel();
  store.getCategoryLabel();
};
onMounted(() => {
  init();
});
</script>
<style lang="less" scoped>
.ownspace {
  width: 100%;
}
.middle {
  width: 100%;
  height: 420px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  > div {
    width: 49%;
  }
}
.info {
  width: 100%;
  background-color: #fff;
  text-indent: 24px;
  li {
    border-top: 1px solid #f0f0f0;
    line-height: 47px;
  }
}
.right {
  height: 100%;
  background-color: #fff;
  p {
    border-bottom: 1px solid #f0f0f0;
    line-height: 57px;
    text-indent: 24px;
    font-size: 16px;
  }
  > div {
    padding: 0 24px;
  }
}
.port {
  text-align: center;
  margin-bottom: 15px;
  img {
    width: 64px;
    border-radius: 32px;
    height: 64px;
  }
}
label {
  width: 60px;
}
</style>
