<template>
  <div
    id="rc-tabs-2-panel-SEO设置"
    role="tabpanel"
    tabindex="0"
    aria-hidden="false"
    class="ant-tabs-tabpane ant-tabs-tabpane-active"
    aria-labelledby="rc-tabs-2-tab-SEO设置"
    style=""
  >
    <form class="ant-legacy-form ant-legacy-form-vertical">
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="关键词">关键词</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <input
                placeholder="请输入关键词，空格分割"
                class="ant-input"
                type="text"
                value='JavaScript,TypeScript,Vue.js,微信小程序,React.js,正则表达式,WebGL,Webpack,Docker,MVVM,nginx,java",   "seoDesc": "“小楼又清风”是 fantasticit（https://github.com/fantasticit）的个人小站。本站的文章包括：前端、后端等方面的内容，也包括一些个人读书笔记。'
              />
            </span>
          </div>
        </div>
      </div>
      <div class="ant-row ant-legacy-form-item">
        <div class="ant-col ant-legacy-form-item-label">
          <label class="" title="描述信息">描述信息</label>
        </div>
        <div class="ant-col ant-legacy-form-item-control-wrapper">
          <div class="ant-legacy-form-item-control">
            <span class="ant-legacy-form-item-children">
              <textarea placeholder="请输入描述信息" rows="6" class="ant-input">
“小楼又清风”是 fantasticit（https://github.com/fantasticit）的个人小站。本站的文章包括：前端、后端等方面的内容，也包括一些个人读书笔记。</textarea
              >
            </span>
          </div>
        </div>
      </div>
      <button type="button" class="ant-btn ant-btn-primary"><span>保 存</span></button>
    </form>
  </div>
</template>
<style lang="less" scoped>
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 24px;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}

.ant-tabs-tabpane {
  flex: none;
  width: 100%;
  outline: none;
}
* {
  transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
*,
:after,
:before {
  box-sizing: border-box;
}

div {
  display: block;
}

.ant-tabs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  display: flex;
}

._2986HtPLHbrpB8hiBuKILn {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 960px;
  // height: 100vh;
}
.ant-col-24.ant-legacy-form-item-label,
.ant-col-xl-24.ant-legacy-form-item-label,
.ant-legacy-form-vertical .ant-legacy-form-item-label {
  display: block;
  margin: 0;
  padding: 8px 0;
  line-height: 1.5715;
  white-space: normal;
  text-align: left;
  flex-basis: 100%;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}

.ant-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}
.ant-btn-primary {
  margin: 10px;
  color: #fff;
  border-color: #0188fb;
  background: #0188fb;
  width: 64px !important;
  height: 32px;
}
</style>
