/
<template>
  <div class="loginCon">
    <div class="loginLeft">
      <img src="@/static/img/LoginBg.png" alt="" />
    </div>
    <a-form :model="userForm" class="loginRight" @finish="onFinish">
      <div class="users">
        <h2>系统登录</h2>
        <a-form-item label="账号" name="name" :rules="[{ required: true, message: '请输入用户名!' }]">
          <a-input v-model:value="userForm.name" />
        </a-form-item>
        <a-form-item label="密码" name="password" :rules="[{ required: true, message: '请输入密码!' }]">
          <a-input-password v-model:value="userForm.password" />
        </a-form-item>
        <a-form-item>
          <a-button html-type="submit" :loading="loginLoading" class="btn">登录</a-button>
          Or
          <a href="/register">注册用户</a>
        </a-form-item>
      </div>
    </a-form>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue';
import { login } from '@/services/user';
import { useRouter } from 'vue-router';
import { addRoutes, getCurUserRole } from '@/router';

const loginLoading = ref(false);
const $router = useRouter();
interface UserFromS {
  name: string;
  password: string;
}
const userForm: UserFromS = reactive({
  name: '',
  password: '',
});
const onFinish = async (val: any) => {
  try {
    loginLoading.value = true;
    const { data } = await login(val);
    window.localStorage.setItem('userInfo', JSON.stringify(data));
    $router.push('/');
  } catch (error) {
    console.error(error);
  } finally {
    loginLoading.value = false;
  }
};
</script>

<style lang="less" scoped></style>
