<template>
  <pro-layout
    v-model:collapsed="state.collapsed"
    v-model:selectedKeys="state.selectedKeys"
    v-model:openKeys="state.openKeys"
    :loading="loading"
    :breadcrumb="{ routes: breadcrumb }"
    :menu-data="menuData"
    disable-content-margin
    style="min-height: 100vh"
    iconfont-url="//at.alicdn.com/t/font_2804900_2sp8hxw3ln8.js"
    v-bind="proConfig"
  >
    <template #menuHeaderRender>
      <router-link :to="{ path: '/' }">
        <img
          src="https://t8.baidu.com/it/u=3642131648,698513737&fm=85&app=131&size=f242,150&n=0&f=JPEG&fmt=auto?s=51340C73DCBDB29009F7BDD50300F0A2&sec=1661878800&t=45a2251583273e6de2b03f07da75a271"
        />
        <h1>八维创作平台</h1>
      </router-link>
      <a-button type="primary" style="width: 100%">新建</a-button>
    </template>
    <!--右上角-->
    <template #rightContentRender>
      <RightContent />
    </template>
    <!-- 面包屑 -->
    <template #breadcrumbRender="{ route, params, routes }">
      <span v-if="routes.indexOf(route) === routes.length - 1">
        <HeartOutlined />
        {{ route.breadcrumbName }}
      </span>
      <router-link v-else :to="{ path: route.path, params }">
        <SmileOutlined />
        {{ route.breadcrumbName }}
      </router-link>
    </template>
    <RouterView v-slot="{ Component, route }">
      <transition name="slide-right" mode="out-in">
        <component :is="Component" :key="route.path" />
      </transition>
    </RouterView>
  </pro-layout>
</template>

<script setup lang="ts">
import viewConfig from '@/views/view.config';
import notFoundVue from '../views/notFound.vue';
import { getCurUserRole, getBaseRoutes, addRoutes } from '@/router';
import { useRouter, RouterView, RouterLink } from 'vue-router';
import { reactive, computed } from 'vue';
const router = useRouter();
// 过去初始router
const filterMenuItem = data => data.filter(item => item?.meta?.showMenuItem !== false);
// 导航数据
const menuData = computed(() => {
  const baseUrl = filterMenuItem(getBaseRoutes());
  const viewsRole = getCurUserRole();
  addRoutes(getCurUserRole());
  return [...baseUrl, ...viewsRole];
});
const state = reactive<Omit<RouteContextProps, 'menuData'>>({
  collapsed: false, // default collapsed
  openKeys: [], // defualt openKeys
  selectedKeys: [], // default selectedKeys
});

const loading = ref(false);
const proConfig = ref({
  layout: 'side',
  navTheme: 'dark',
  fixedHeader: true,
  fixSiderbar: true,
});
const breadcrumb = computed(() =>
  router.currentRoute.value.matched.concat().map(item => {
    return {
      path: item.path,
      breadcrumbName: item.meta.title || '',
    };
  }),
);
</script>
<style lang="less">
div #logo {
  display: flex;
  flex-direction: column;
  a {
    margin-bottom: 10px;
  }
}
</style>
