<template>
  <PageContainer>
    <div class="container">
      <div class="top">
        <a-form layout="inline" :model="formState">
          <div class="topSearch">
            <a-form-item label="发件人">
              <a-input v-model:value="formState.name" placeholder="请输入发件人" />
            </a-form-item>
            <a-form-item label="收件人">
              <a-input v-model:value="formState.path" placeholder="请输入收件人" />
            </a-form-item>
            <a-form-item label="主题">
              <a-input v-model:value="formState.status" placeholder="请输入主题" />
            </a-form-item>
          </div>
          <div class="downContent">
            <div class="content"></div>
            <a-form-item>
              <a-button type="primary">搜索</a-button>
              <a-button>重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>
      <div class="down">
        <div style="background: rgb(255, 255, 255); padding: 24px 12px">
          <!-- 刷新 -->
          <div class="refresh">
            <span></span>
            <span role="img" aria-label="reload" tabindex="-1" class="anticon anticon-reload" style="margin-left: 12px">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="reload"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M909.1 209.3l-56.4 44.1C775.8 155.1 656.2 92 521.9 92 290 92 102.3 279.5 102 511.5 101.7 743.7 289.8 932 521.9 932c181.3 0 335.8-115 394.6-276.1 1.5-4.2-.7-8.9-4.9-10.3l-56.7-19.5a8 8 0 00-10.1 4.8c-1.8 5-3.8 10-5.9 14.9-17.3 41-42.1 77.8-73.7 109.4A344.77 344.77 0 01655.9 829c-42.3 17.9-87.4 27-133.8 27-46.5 0-91.5-9.1-133.8-27A341.5 341.5 0 01279 755.2a342.16 342.16 0 01-73.7-109.4c-17.9-42.4-27-87.4-27-133.9s9.1-91.5 27-133.9c17.3-41 42.1-77.8 73.7-109.4 31.6-31.6 68.4-56.4 109.3-73.8 42.3-17.9 87.4-27 133.8-27 46.5 0 91.5 9.1 133.8 27a341.5 341.5 0 01109.3 73.8c9.9 9.9 19.2 20.4 27.8 31.4l-60.2 47a8 8 0 003 14.1l175.6 43c5 1.2 9.9-2.6 9.9-7.7l.8-180.9c-.1-6.6-7.8-10.3-13-6.2z"
                ></path>
              </svg>
            </span>
          </div>

          <div class="ant-table-container">
            <div class="ant-table-content" style="overflow: auto hidden">
              <table style="width: 1440px; min-width: 100%; table-layout: auto">
                <colgroup><col class="ant-table-selection-col" /></colgroup>
                <thead class="ant-table-thead">
                  <tr>
                    <th class="ant-table-cell ant-table-selection-column">
                      <div class="ant-table-selection">
                        <label class="ant-checkbox-wrapper ant-checkbox-wrapper-disabled">
                          <span class="ant-checkbox ant-checkbox-disabled">
                            <input type="checkbox" class="ant-checkbox-input" value="" />
                            <span class="ant-checkbox-inner"></span>
                          </span>
                        </label>
                      </div>
                    </th>
                    <th class="ant-table-cell">发件人</th>
                    <th class="ant-table-cell">收件人</th>
                    <th class="ant-table-cell">主题</th>
                    <th class="ant-table-cell"></th>
                    <th class="ant-table-cell">发送时间</th>
                    <th class="ant-table-cell">操作</th>
                  </tr>
                </thead>
                <tbody class="ant-table-tbody">
                  <tr class="ant-table-placeholder">
                    <td colspan="7" class="ant-table-cell">
                      <div
                        class="ant-table-expanded-row-fixed"
                        style="width: 870px; position: sticky; left: 0px; overflow: hidden"
                      >
                        <div class="ant-empty-image">
                          <svg
                            class="ant-empty-img-simple"
                            width="64"
                            height="41"
                            viewBox="0 0 64 41"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
                              <ellipse class="ant-empty-img-simple-ellipse" cx="32" cy="33" rx="32" ry="7"></ellipse>
                              <g class="ant-empty-img-simple-g" fill-rule="nonzero">
                                <path
                                  d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z"
                                ></path>
                                <path
                                  d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z"
                                  class="ant-empty-img-simple-path"
                                ></path>
                              </g>
                            </g>
                          </svg>
                        </div>
                        <div class="ant-empty-description">暂无数据</div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { onMounted, ref, UnwrapRef, reactive } from 'vue';
import { storeToRefs } from 'pinia';
import userStore from '@/store';
const store = userStore();
const { SmtpViews } = storeToRefs(store);
interface FormState {
  name: string;
  path: string;
  status: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  name: '',
  path: '',
  status: '',
});
// console.log();

const init = () => {
  store.getSmtpViews();
};
onMounted(() => {
  init();
});
</script>

<style lang="less" scoped>
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
  .ant-row {
    margin-bottom: 15px;
  }
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.refresh {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}
</style>
