<template>
  <PageContainer>
    <div class="container">
      <div class="top">
        <a-form name="basic" layout="inline" :model="formState" autocomplete="off" @finish="handleFinish">
          <div class="topSearch">
            <a-form-item label="类型">
              <a-input v-model:value="formState.type" placeholder="请输入搜索类型" />
            </a-form-item>
            <a-form-item label="搜索词">
              <a-input v-model:value="formState.keyword" placeholder="请输入搜索词" />
            </a-form-item>
            <a-form-item label="搜索量">
              <a-input v-model:value="formState.count" placeholder="请输入搜索量" />
            </a-form-item>
          </div>
          <div class="downContent">
            <div class="content"></div>
            <a-form-item>
              <a-button type="primary" html-type="submit">搜索</a-button>
              <a-button @click="resetForm">重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>
      <div class="down">
        <div class="add">
          <div class="add-left">
            <div class="btn" v-if="hasSelected">
              <a-popconfirm
                title="您确定删除吗?"
                ok-text="确定"
                cancel-text="取消"
                @confirm="delAll"
                @cancel="cancel"
              >
                <a-button danger>删除</a-button>
              </a-popconfirm>
            </div>
          </div>
          <div class="add-right">
            <a-tooltip color="#000">
              <template #title>刷新</template>
              <span @click="refresh"><ReloadOutlined /></span>
            </a-tooltip>
          </div>
        </div>
        <a-table
          row-key="id"
          :loading="loading"
          :data-source="searchList"
          :row-selection="{ selectedRowKeys: state.selectedRowKeys, onChange: onSelectChange }"
          :pagination="{
            pageSize: pageInfo.pageSize,
            total: total,
            onChange: handlePage,
            showSizeChanger: true,
          }"
        >
          <a-table-column key="keyword" title="搜索词" data-index="keyword" />
          <a-table-column key="count" title="搜索量" data-index="count">
            <template #default="{ text: count }">
              <span>
                <a-badge
                  :count="count"
                  :overflow-count="999"
                  :number-style="{ backgroundColor: '#52c41a' }"
                  :show-zero="true"
                />
              </span>
            </template>
          </a-table-column>
          <a-table-column key="updateAt" title="搜索时间" data-index="updateAt">
            <template #default="{ text: updateAt }">
              <span>
                {{ dayjs(updateAt).format('YYYY-MM-DD HH:mm:ss') }}
              </span>
            </template>
          </a-table-column>
          <a-table-column key="action" title="操作">
            <template #default="{ record }">
              <span>
                <a style="color: #1890ff">
                  <a-popconfirm
                    title="确认删除这个搜索记录?"
                    ok-text="确认"
                    cancel-text="取消"
                    ok-type="dashed"
                    @confirm="confirm(record.id)"
                    @cancel="cancel"
                  >
                    删除
                  </a-popconfirm>
                </a>
              </span>
            </template>
          </a-table-column>
        </a-table>
      </div>
      <Footer></Footer>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { ReloadOutlined } from '@ant-design/icons-vue';
import dayjs from 'dayjs';
import { onMounted, reactive, UnwrapRef, ref, computed } from 'vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';
import { message } from 'ant-design-vue';
const store = useStore();
const { searchList, total } = storeToRefs(store);
const loading = ref(false);
interface FormState {
  type: string;
  keyword: string;
  count: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  type: '',
  keyword: '',
  count: '',
});
// 分页数据
const pageInfo = reactive({
  page: 1,
  pageSize: 12,
});
const init = () => {
  loading.value = true;
  store.getSearch(pageInfo);
  loading.value = false;
};
onMounted(() => {
  init();
});

// 选择
type Key = any['key'];
const state = reactive<{
  selectedRowKeys: Key[];
  loading: boolean;
}>({
  selectedRowKeys: [], // Check here to configure the default column
  loading: false,
});
const hasSelected = computed(() => state.selectedRowKeys.length > 0);
const onSelectChange = (selectedRowKeys: Key[]) => {
  // console.log('selectedRowKeys changed: ', selectedRowKeys);
  state.selectedRowKeys = selectedRowKeys;
};
// 全部删除
const delAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    searchList.value.forEach((val: any) => {
      if (item === val.id) {
        store.GetSearchDetil(val.id);
        init();
      }
    });
  });
  message.success('删除成功');
};

// 点击页码
const handlePage = (page: number, pageSize: number) => {
  pageInfo.page = page;
  pageInfo.pageSize = pageSize;
  init();
};
// 点击搜索
const handleFinish = () => {
  let formSearch = Object.assign(pageInfo, formState);
  store.getSearch(formSearch);
};
// 点击重置
const resetForm = () => {
  formState.type = '';
  formState.keyword = '';
  formState.count = '';
};
// 点击刷新
const refresh = () => {
  init();
};
//删除
const confirm = async (id: string) => {
  await store.GetSearchDetil(id);
  await init();
  message.success('操作成功');
};
//删除里面的取消
const cancel = (e: MouseEvent) => {};
</script>

<style lang="less" scoped>
.add {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  .add-left {
    width: 98%;
  }
  .add-right {
    flex: 1;
    span {
      font-size: 16px;
    }
  }
}
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
  .ant-row {
    margin-bottom: 15px;
  }
}
.topSearch {
  display: flex;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}
</style>
