<template>
  <PageContainer>
    <div class="container">
      <div class="top">
        <a-form name="basic" layout="inline" :model="formState" autocomplete="off" @finish="handleFinish">
          <div class="topSearch">
            <a-form-item label="IP">
              <a-input v-model:value="formState.ip" placeholder="请输入Ip地址" />
            </a-form-item>
            <a-form-item label="UA">
              <a-input v-model:value="formState.userAgent" placeholder="请输入User Agent" />
            </a-form-item>
            <a-form-item label="URL">
              <a-input v-model:value="formState.url" placeholder="请输入URL" />
            </a-form-item>
            <a-form-item label="地址">
              <a-input v-model:value="formState.address" placeholder="请输入地址" />
            </a-form-item>
            <a-form-item label="浏览器">
              <a-input v-model:value="formState.browser" placeholder="请输入浏览器" />
            </a-form-item>
            <a-form-item label="内核">
              <a-input v-model:value="formState.engine" placeholder="请输入内核" />
            </a-form-item>
            <a-form-item label="OS">
              <a-input v-model:value="formState.os" placeholder="请输入操作系统" />
            </a-form-item>
            <a-form-item label="设备">
              <a-input v-model:value="formState.device" placeholder="请输入设备" />
            </a-form-item>
          </div>
          <div class="downContent">
            <div class="content"></div>
            <a-form-item>
              <a-button type="primary" html-type="submit">搜索</a-button>
              <a-button @click="resetForm">重置</a-button>
            </a-form-item>
          </div>
        </a-form>
      </div>
      <div class="down">
        <div class="add">
          <div class="add-left">
            <div class="btn" v-if="hasSelected">
              <a-popconfirm
                title="您确定删除吗?"
                ok-text="确定"
                cancel-text="取消"
                @confirm="delAll"
                @cancel="cancel"
              >
                <a-button danger>删除</a-button>
              </a-popconfirm>
            </div>
          </div>
          <div class="add-right">
            <a-tooltip color="#000">
              <template #title>刷新</template>
              <span @click="refresh"><ReloadOutlined /></span>
            </a-tooltip>
          </div>
        </div>
        <a-table
          row-key="id"
          :loading="loading"
          :pagination="{
            pageSize: pageInfo.pageSize,
            total: total,
            onChange: handlePage,
            showSizeChanger: true,
          }"
          :data-source="viewList"
          :row-selection="{ selectedRowKeys: state.selectedRowKeys, onChange: onSelectChange }"
          :scroll="{ x: 'calc(700px + 50%)' }"
        >
          <a-table-column key="url" title="URL" data-index="url" width="150px" :fixed="true">
            <template #default="{ text: url }">
              <span style="color: #1890ff">{{ url }}</span>
            </template>
          </a-table-column>
          <a-table-column key="ip" title="IP" data-index="ip" />
          <a-table-column key="browser" title="浏览器" data-index="browser" />
          <a-table-column key="engine" title="内核" data-index="engine" />
          <a-table-column key="os" title="操作系统" data-index="os" width="130px" />
          <a-table-column key="device" title="设备" data-index="device" width="100px" />
          <a-table-column key="address" title="地址" data-index="address" width="120px" />
          <a-table-column key="count" title="访问量" data-index="count" width="100px">
            <template #default="{ text: count }">
              <span>
                <a-badge
                  :count="count"
                  :overflow-count="999"
                  :number-style="{ backgroundColor: '#52c41a' }"
                  :show-zero="true"
                />
              </span>
            </template>
          </a-table-column>
          <a-table-column key="updateAt" title="访问时间" data-index="updateAt">
            <template #default="{ text: updateAt }">
              <span>
                {{ dayjs(updateAt).format('YYYY-MM-DD HH:mm:ss') }}
              </span>
            </template>
          </a-table-column>
          <a-table-column key="action" title="操作" width="100px" fixed="right">
            <template #default="{ record }">
              <span style="color: #1890ff; height: 110px">
                <a>
                  <a-popconfirm
                    title="确认删除这个访问?"
                    ok-text="确认"
                    cancel-text="取消"
                    ok-type="dashed"
                    @confirm="confirm(record.id)"
                    @cancel="cancel"
                  >
                    <!-- @confirm="confirm(viewList.id)" -->
                    删除
                  </a-popconfirm>
                </a>
              </span>
            </template>
          </a-table-column>
        </a-table>
      </div>
      <Footer></Footer>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
import { ReloadOutlined } from '@ant-design/icons-vue';
import dayjs from 'dayjs';
import { onMounted, reactive, UnwrapRef, ref, computed } from 'vue';
import { message } from 'ant-design-vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';
const store = useStore();
const { viewList, total } = storeToRefs(store);
const loading = ref(false);
interface FormState {
  ip: string;
  userAgent: string;
  url: string;
  address: string;
  browser: string;
  engine: string;
  os: string;
  device: string;
}
// 搜索框
const formState: UnwrapRef<FormState> = reactive({
  ip: '',
  userAgent: '',
  url: '',
  address: '',
  browser: '',
  engine: '',
  os: '',
  device: '',
});
// 分页数据
const pageInfo = reactive({
  page: 1,
  pageSize: 12,
});
// 点击页码
const handlePage = (page: number, pageSize: number) => {
  pageInfo.page = page;
  pageInfo.pageSize = pageSize;
  init();
};
// 点击搜索
const handleFinish = () => {
  let formSearch = Object.assign(pageInfo, formState);
  store.getView(formSearch);
};
// 点击重置
const resetForm = () => {
  formState.ip = '';
  formState.userAgent = '';
  formState.url = '';
  formState.address = '';
  formState.browser = '';
  formState.engine = '';
  formState.os = '';
  formState.device = '';
};
// 点击刷新
const refresh = () => {
  init();
};
const init = () => {
  loading.value = true;
  store.getView(pageInfo);
  loading.value = false;
};
onMounted(() => {
  init();
});

// 选择
type Key = any['key'];
const state = reactive<{
  selectedRowKeys: Key[];
  loading: boolean;
}>({
  selectedRowKeys: [], // Check here to configure the default column
  loading: false,
});
const hasSelected = computed(() => state.selectedRowKeys.length > 0);
const onSelectChange = (selectedRowKeys: Key[]) => {
  // console.log('selectedRowKeys changed: ', selectedRowKeys);
  state.selectedRowKeys = selectedRowKeys;
};
// 全部删除
const delAll = async () => {
  await state.selectedRowKeys.forEach(item => {
    viewList.value.forEach((val: any) => {
      if (item === val.id) {
        store.GetViewDetil(val.id);
        init();
      }
    });
  });
  message.success('删除成功');
};

//关于删除
const confirm = async (id: string) => {
  await store.GetViewDetil(id);
  await store.getView(pageInfo);
  await message.success('操作成功');
};
//删除里面的取消
const cancel = (e: MouseEvent) => {};
</script>

<style lang="less" scoped>
.add {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  .add-left {
    width: 98%;
  }
  .add-right {
    flex: 1;
    span {
      font-size: 16px;
    }
  }
}
form.ant-form.ant-form-inline {
  display: flex;
  flex-direction: column;
  .ant-row {
    margin-bottom: 15px;
  }
}
.topSearch {
  display: flex;
  flex-wrap: wrap;
}
.downContent {
  display: flex;
  justify-content: space-between;
}
.ant-form-inline {
  padding: 20px;
  background: #fff;
  .ant-form-item {
    width: 250px;
    margin-left: 15px;
  }
  .ant-form-item-control-input {
    display: flex;
    button {
      width: 70px;
      margin-right: 10px;
    }
  }
}
</style>
