<template>
  <div class="WorkPage">
    <a-affix :offset-top="top">
      <header>
        <nav class="ant-breadcrumb">
          <ol>
            <li>
              <span class="ant-breadcrumb-link"><a href="/">工作台</a></span>
              <!-- <span class="ant-breadcrumb-separator">/</span> -->
            </li>
          </ol>
        </nav>
        <div class="_356HSOa33WPexiuYnLScFc"></div>
        <div>
          <article class="ant-typography">
            <h1 class="ant-typography">您好，{{ headerContext.name }}</h1>
            <div class="ant-typography">您的角色：{{ headerContext.role === 'admin' ? '管理员' : '访客' }}</div>
          </article>
        </div>
      </header>
    </a-affix>
    <main>
      <div class="ant-card">
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper"><div class="ant-card-head-title">面板导航</div></div>
        </div>
        <div id="myChart" class="ant-card-body" style="padding: 0px">
          <Echarts></Echarts>
        </div>
      </div>

      <div class="ant-card" style="margin-top: 24px">
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper"><div class="ant-card-head-title">快速导航</div></div>
        </div>
        <div class="ant-card-body" style="padding: 0px">
          <div class="ant-row">
            <div class="ant-col ant-col-4" style="padding: 2rem 1rem; text-align: center">
              <router-link to="/article/all"><span>文章管理</span></router-link>
            </div>
            <div class="ant-col ant-col-4" style="padding: 2rem 1rem; text-align: center">
              <router-link to="/comment"><span>评论管理</span></router-link>
            </div>
            <div class="ant-col ant-col-4" style="padding: 2rem 1rem; text-align: center">
              <router-link to="/file"><span>文件管理</span></router-link>
            </div>
            <div class="ant-col ant-col-4" style="padding: 2rem 1rem; text-align: center">
              <router-link to="/user"><span>用户管理</span></router-link>
            </div>
            <div class="ant-col ant-col-4" style="padding: 2rem 1rem; text-align: center">
              <router-link to="/view"><span>访问管理</span></router-link>
            </div>
            <div class="ant-col ant-col-4" style="padding: 2rem 1rem; text-align: center">
              <router-link to="/setting"><span>系统设置</span></router-link>
            </div>
          </div>
        </div>
      </div>

      <div class="ant-card ant-card-contain-grid" style="margin-top: 24px">
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">最新文章</div>
            <div class="ant-card-extra">
              <a href="/article"><span>全部文章</span></a>
            </div>
          </div>
        </div>

        <div class="ant-card-body" style="padding: 0px">
          <!-- 循环渲染 -->
          <div
            v-for="val in NewArticleList"
            :key="val.id"
            class="ant-card-grid ant-card-grid-hoverable"
            style="width: 33.3%; text-align: center"
          >
            <a class="_2kH_Op73GxIfEKgpE8XsRU">
              <img width="120" :alt="val.title" :src="val.cover" />
              <p class="_3e3i72MtTQGM2jtV7VdUqx">{{ val.title }}</p>
            </a>
          </div>
        </div>
      </div>

      <div class="ant-card" style="margin-top: 24px">
        <!-- 评论头部 -->
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">最新评论</div>
            <div class="ant-card-extra">
              <a href="/comment"><span>全部评论</span></a>
            </div>
          </div>
        </div>
        <!-- 评论身体 -->
        <a-card>
          <div v-for="val in NewCommentList" :key="val.id" class="cartParent">
            <p>
              {{ val.name }}在
              <a-popover title="页面预览" class="popover_title">
                <template #content>
                  <h3>404 | This page could not be found.</h3>
                </template>
                <a-button style="color: #1890ff; border: none">文章</a-button>
              </a-popover>

              评论

              <a-popover title="评论详情-原始内容">
                <template #content>
                  <a>{{ val.content }}</a>
                </template>
                <a-button style="color: #1890ff; border: none">查看内容</a-button>
              </a-popover>
              <a-badge v-if="val.pass === true" status="success" text="通过" />
              <a-badge v-else-if="val.pass === false" status="warning" text="未通过" />
            </p>
            <div>
              <a-button v-for="item in buttonCommont" :key="item.key" type="link" @click="item.OnClick(val)">
                {{ item.title }}
              </a-button>
            </div>
          </div>
        </a-card>
      </div>
      <Footer></Footer>
    </main>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import { storeToRefs } from 'pinia';
import useStore from '@/store';
import { message } from 'ant-design-vue';
const headerContext = JSON.parse(window.localStorage.getItem('userInfo'));
const top = ref<number>(10);
const store = useStore();
const { NewArticleList, NewCommentList } = storeToRefs(store);
//关于ts
interface CommontState {
  title: string;
  key: number;
  OnClick: any;
}
interface ItemState {
  content: string;
  createAt: string;
  email: string;
  hostId: string;
  html: string;
  id: string;
  name: string;
  parentCommentId: null;
  pass: boolean;
  replyUserEmail: null;
  replyUserName: null;
  updateAt: string;
  url: string;
  userAgent: string;
}

const init = () => {
  store.getNewArticle(); //最新文章
  store.getNewComment(); //最新评论
};
onMounted(() => {
  init();
});

const buttonCommont: Array<CommontState> = [
  {
    title: '通过',
    key: 1,
    OnClick: async (val: ItemState) => {
      await store.AddPass(val.id, (val.pass = true));
      await message.success('评论已通过');
    },
  },
  {
    title: '拒绝',
    key: 1,
    OnClick: async (val: ItemState) => {
      await store.AddPass(val.id, (val.pass = false));
      await message.success('评论已拒绝');
    },
  },
  {
    title: '回复',
    key: 1,
    OnClick: () => {
      console.log('回复');
    },
  },
  {
    title: '删除',
    key: 1,
    OnClick: async (val: ItemState) => {
      await store.getNewCommentDetil(val.id);
      await store.getNewComment();
      await message.success('评论删除成功');
    },
  },
];
</script>
<style lang="less" scoped>
.WorkPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;

  header {
    width: 100%;
    height: 162.24px;
    padding: 12px 24px;
    background-color: #ffff;
    .ant-breadcrumb ol {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 5px;
      list-style: none;
    }
  }
  main {
    width: 100%;
    height: 500px;
    padding: 24px;
    margin: auto;
    overflow-y: scroll;
    background-color: #e1e1e1;
    //快速导航
    .ant-row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    // 最新文章排版
    .ant-card-body {
      width: 100%;
      // display: flex;
      flex-wrap: wrap;

      .ant-card-grid {
        width: 33%;
        height: 170px;
      }
    }
    .ant-layout,
    .ant-layout * {
      box-sizing: border-box;
    }

    .ant-badge-status-dot {
      position: relative;
      top: -1px;
      display: inline-block;
      width: 6px;
      height: 6px;
      vertical-align: middle;
      border-radius: 50%;
    }
  }
}
.imgs {
  width: 100%;
}
.cartParent {
  display: flex;
  justify-content: space-between;
  > p {
    position: relative;
  }
}
</style>
